<div>

  <div class="row content-border-margin-regular">
    <div class="panel panel-primary" ng-form>
      <!-- Default panel contents -->
      <div class="panel-heading">{{'PHARMACY_DISPENSE' | translate}}</div>

      <!-- Table -->
      <table class="table table-striped" ng-form="dispenseForm">
        <thead>
        <tr>
          <th>{{'COMMON_ITEM' | translate}}</th>
          <th>{{'PHARMACY_NEXT_PICKUP' | translate}}<span class="asterick">*</span></th>
          <th>{{'PHARMACY_QUANTITY' | translate}}</th>
          <th>{{'PHARMACY_AVAILABLE' | translate}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.selectedPrescriptionItems track by $index">
          <td>
            <span class="text-lg">
              <strong>{{item.drugOrder.drug.display}}</strong>
              {{item.drugOrder.dose}}
              {{item.drugOrder.doseUnits.display}}, {{item.drugOrder.frequency.display}},
              {{item.drugOrder.route.display}} - {{item.drugOrder.duration}}
              {{item.drugOrder.durationUnits.display}} ({{item.dosingInstructions}})
            </span>
          </td>
          <td>
            <div ng-if="item.showNextPickupDate" class="form-group form-group-lg"
                 ng-class="{'has-error': dispenseForm.nextPickupDate.$invalid && showMessages}">
              <div class="col-sm-8">
                <div ng-messages for="dispenseForm.nextPickupDate.$error"
                     ng-messages-include="../poc-common/form-display/views/error-messages.html"
                     ng-show="showMessages">
                </div>
                <span>{{item.nextPickupDate | date:"MMM d, y"}} </span>
              </div>
            </div>
          </td>
          <td>
            <div ng-if="item.showNextPickupDate" class="form-group form-group-lg"
                 ng-class="{'has-error': dispenseForm.quantity.$invalid && showMessages}">
              <div class="col-sm-8">
                <div ng-messages for="dispenseForm.quantity.$error"
                     ng-messages-include="../poc-common/form-display/views/error-messages.html"
                     ng-show="showMessages">
                </div>
                <input type="number" name="quantity" class="form-control" ng-model="item.quantity"
                       ng-change="vm.updatePickup(item)" size="4" min="1" required>
              </div>
            </div>
            <span>{{item.drugToPickUp}}</span>
          </td>
          <td>
            <!--TODO: implement availability-->
            <label class="label label-success"><span class="glyphicon glyphicon-thumbs-up"></span></label>
            <!--/TODO-->
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-lg" ng-click="vm.remove(item)">
              <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-show="!vm.selectedPrescriptionItems.length">
          <td colspan="5" class="text-center">
            {{ vm.prescriptions.length ? 'PHARMACY_DISPENSATION_NO_ITEMS' : 'PHARMACY_LIST_NO_ITEMS' | translate }}
          </td>
        </tr>
        </tfoot>
      </table>
      <div class="panel-footer go-to-right" ng-show="!vm.dispenseListNoResultsMessage">
        <button class="btn btn-primary btn-lg" type="button" ng-click="vm.dispense()" ng-disabled="!vm.selectedPrescriptionItems.length">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </div>
    </div>
  </div>

  <div ng-repeat="p in vm.prescriptions" class="row content-border-margin-regular">
    <div class="panel panel-primary">
      <div class="panel-heading" ng-click="p.hidden = !p.hidden">
        <strong>{{'PHARMACY_PRESCRIBED_BY' | translate}}:</strong>
        {{p.provider.person.display}} {{'COMMON_ON' | translate}}: {{p.prescriptionDate | date:"MMM d, y"}}
        <span ng-class="{'glyphicon glyphicon-chevron-down': p.hidden, 'glyphicon glyphicon-chevron-up': !p.hidden}"
              class="pull-right"></span>
      </div>

      <!--<div ng-hide="p.hidden" class="panel-body">-->
        <!--<img src="../../images/medical-prescription.png" class="img-responsive inline-align" width="24" height="24"-->
             <!--alt="prescription">-->
        <!--<strong>{{'PHARMACY_PRESCRIBED_BY' | translate}}:</strong> {{p.provider.person.display}}-->
        <!--{{'COMMON_ON' | translate}}: {{p.prescriptionDate | date:"MMM d, y"}}-->
      <!--</div>-->

      <div ng-hide="p.hidden" class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>{{'COMMON_ITEM' | translate}}</th>
            <th>{{'PHARMACY_VALIDITY' | translate}}</th>
            <th>{{'PHARMACY_TO_PICKUP' | translate}}</th>
            <th>{{'PHARMACY_PICKEDUP' | translate}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in p.prescriptionItems">
            <td>
        <span class="text-lg">
          <strong>{{item.drugOrder.drug.display}}</strong>
          {{item.drugOrder.dose}}
          {{item.drugOrder.doseUnits.display}}, {{item.drugOrder.frequency.display}},
          {{item.drugOrder.route.display}} - {{item.drugOrder.duration}}
          {{item.drugOrder.durationUnits.display}} ({{item.dosingInstructions}})
        </span>
            </td>
            <td>{{item.drugOrder.autoExpireDate | date:"MMM d, y"}}</td>
            <td>{{item.drugToPickUp}}</td>
            <td>{{item.drugPickedUp}}</td>
            <td>
              <button class="btn btn-primary btn-lg" type="button" ng-click="vm.select(p, item)" ng-disabled="item.selected">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr ng-show="!p.prescriptionItems.length">
            <td colspan="5" class="text-center">
              {{ 'PHARMACY_LIST_NO_ITEMS' | translate}}
            </td>
          </tr>
          </tfoot>
        </table>
      </div>

      <!-- Table -->
    </div>
  </div>

</div>
