<div class="row content-border-margin-regular">
    <table st-table="pickups" st-safe-src="displayed" class="table table-striped">
            <thead>
                <tr>
                    <th>{{'PHARMACY_PICKUP_DATE' | translate}}</th>
                    <th>{{'PHARMACY_REGIMEN' | translate}}</th>
                    <th>{{'PHARMACY_POSOLOGY' | translate}}</th>
                    <th>{{'PHARMACY_QUANTITY' | translate}}</th>
                    <th>{{'PHARMACY_NEXT_PICKUP' | translate}}</th>
                    <th>{{'COMMON_BY' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pickup in pickups">
                    <td>{{pickup.encounterDatetime | date:"MMM d, y"}}</td>
                    <td>{{valueOfField(filaObsList.regimen, pickup.obs)}}</td>
                    <td>{{valueOfField(filaObsList.posology, pickup.obs)}}</td>
                    <td>{{valueOfField(filaObsList.quantity, pickup.obs)}}</td>
                    <td>{{valueOfField(filaObsList.nextPickup, pickup.obs) | date:"MMM d, y"}}</td>
                    <td>{{pickup.provider.display}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-show="noResultsMessage">
                    <td  colspan="6" class="text-center">
                        {{noResultsMessage | translate}}
                    </td>
                </tr>
                <tr>
                    <td  colspan="6" class="text-center">
                        <div  st-items-by-page="4" st-displayed-pages="7" st-pagination=""></div>
                    </td>
                </tr>
            </tfoot>
    </table>
</div>
