<div class="modal fade" id="addProviderAndPrescriptionDateModel" tabindex="-1" role="dialog" aria-labelledby="addProviderAndDateModelLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addProviderAndDateModelLabel">{{'COMMON_PRESCRIPTION' | translate}} </h4>
            </div>
            <form class="form-horizontal" name="providerAndPrescriptionDateForm" novalidate>
                <div class="modal-body content-border-margin">
                  <div class="form-horizontal">
                    <div class="form-group form-group-lg"
                         ng-class="{'has-error': providerAndPrescriptionDateForm.prescriptionDate.$invalid && vm.showMessagesInModal}">
                      <label for="prescriptionDate" class="col-sm-3 control-label">
                        {{'PRESCRIPTION_DATE' | translate}}:<span class="asterick">*</span>
                      </label>
                      <div class="col-sm-9">
                        <div ng-messages for="providerAndPrescriptionDateForm.prescriptionDate.$error"
                             ng-messages-include="../poc-common/form-display/views/error-messages.html"
                             ng-show="vm.showMessagesInModal"></div>
                        <div class="input-group">
                          <input class="form-control keyboard-in" id="prescriptionDate" type="text" name="prescriptionDate"
                                 uib-datepicker-popup ng-focus="focused=true" is-open="focused" ng-model="vm.prescriptionDate"
                                 required>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-lg"
                         ng-class="{'has-error': providerAndPrescriptionDateForm.selectedProvider.$invalid && vm.showMessagesInModal}">
                      <label for="prescriptionDate" class="col-sm-3 control-label">
                        {{'COMMON_PROVIDER' | translate}}:<span class="asterick">*</span>
                      </label>
                      <div class="col-sm-9">
                        <div ng-messages for="providerAndPrescriptionDateForm.selectedProvider.$error"
                             ng-messages-include="../poc-common/form-display/views/error-messages.html"
                             ng-show="vm.showMessagesInModal"></div>
                        <input name="selectedProvider"
                               uib-typeahead="p as p.display for p in vm.providers | filter:vm.selectedProvider"
                               type="text"
                               ng-model="vm.selectedProvider"
                               id="provider" type="text" class="form-control keyboard-in" required/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning btn-lg" ng-click="vm.closeProviderAndPrescriptionModal(providerAndPrescriptionDateForm)">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                    <span class="button-label">{{'CANCEL' | translate}}</span>
                  </button>
                  <button type="submit"  ng-click="vm.saveRefill(providerAndPrescriptionDateForm)"
                          class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    <span class="button-label">{{'SAVE' | translate}}</span>
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>
