<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="cancelPrescriptionModalLabel">{{'COMMON_CANCEL_PRESCRIPTION' | translate}} :</h4>
  <span>
      <strong>{{vm.prescriptionItemToCancel.drugOrder.drug.display}}</strong>
      <strong ng-if="vm.prescriptionItemToCancel.regime"> ({{vm.prescriptionItemToCancel.regime.display}})</strong>-
      {{vm.prescriptionItemToCancel.drugOrder.dose}}
      {{vm.prescriptionItemToCancel.drugOrder.doseUnits.display}}, {{vm.prescriptionItemToCancel.drugOrder.frequency.display}},
      {{vm.prescriptionItemToCancel.drugOrder.route.display}} - {{vm.prescriptionItemToCancel.drugOrder.duration}}
      {{vm.prescriptionItemToCancel.drugOrder.durationUnits.display}}, {{vm.prescriptionItemToCancel.dosingInstructions}}
  </span>
</div>
<form class="form-horizontal" name="form" novalidate>
  <div class="alert alert-danger alert-dismissible content-border-margin"
       role="alert"
       ng-show="vm.prescriptionItemToCancel.interruptible && form.$submitted && form.$invalid">
    <strong>{{ 'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_REASON_REQUIRED' | translate}}</strong>
  </div>
  <div class="alert alert-danger alert-dismissible content-border-margin"
       role="alert"
       ng-show="vm.prescriptionItemToCancel.drugOrder.action === 'NEW' && form.$submitted && form.$invalid">
    <strong>{{ 'COMMON_CANCELLATION_PRESCRIPTION_ERROR_NO_REASON' | translate}}</strong>
  </div>
  <div class="modal-body content-border-margin">
    <div class="form-group form-group-lg"
         ng-class="{'has-error': form.$submitted && form.$invalid}">
      <div ng-hide="!vm.prescriptionItemToCancel.interruptible">
        <label class="control-label col-sm-3">{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_REASON' | translate}}:</label>
        <div class="col-sm-9">
          <select name="cancellationReason" class="form-control" ng-model="vm.cancellationReason"
                  ng-options="reason.display for reason in vm.cancellationReasons"
                  ng-required="vm.prescriptionItemToCancel.interruptible">
            <option></option>
          </select>
        </div>
      </div>
      <div ng-hide="vm.prescriptionItemToCancel.drugOrder.action !== 'NEW'">
        <label class="control-label col-sm-3">{{'COMMON_CANCEL_PRESCRIPTIONS_REASON' | translate}}:</label>
        <div class="col-sm-9">
          <input type="text"
                 name="cancellationReason"
                 ng-model="vm.cancellationReason"
                 class="form-control keyboard-in"
                 ng-required="vm.prescriptionItemToCancel.drugOrder.action === 'NEW'">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-lg" ng-click="vm.cancel();">
      <span class="glyphicon glyphicon-minus-sign"></span>
      <span class="button-label">{{'CANCEL' | translate}}</span>
    </button>
    <poc-authorize privilege="'Delete Drug Prescription'">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.ok(form);" ng-disabled="form.$invalid">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        <span class="button-label">{{'SAVE' | translate}}</span>
      </button>
    </poc-authorize>
  </div>
</form>

