<poc-authorize privilege="'Write Drug Prescription'" display-info="true">
  <div class="row content-border-margin-regular">
    <div class="col-sm-5">
      <div>
        <form name="prescriptionForm" class="form-horizontal" autocomplete="off">

          <div class="panel panel-primary panel-marginless-sides" ng-if="vm.retrospectiveMode">
            <div class="panel-heading">
              <h3 class="panel-title">
                {{'COMMON_PRESCRIPTION' | translate}}
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.prescriptionDate.$invalid && vm.showMessages}">
                  <label for="prescriptionDate" class="col-sm-3 control-label">
                    {{'PRESCRIPTION_DATE' | translate}}:<span class="asterick">*</span>
                  </label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.prescriptionDate.$error"
                         ng-show="vm.showMessages">
                      <div ng-messages-include="../common/application/views/error-messages.html"></div>
                    </div>
                    <div class="input-group">
                      <input class="form-control keyboard-in" id="prescriptionDate" type="text" name="prescriptionDate"
                             uib-datepicker-popup ng-focus="focused=true" is-open="focused"
                             ng-model="vm.prescriptionDate"
                             required>
                      <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                  </div>
                </div>

                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.drug.$invalid && vm.showMessages}">
                  <label for="prescriptionDate" class="col-sm-3 control-label">
                    {{'COMMON_PROVIDER' | translate}}:<span class="asterick">*</span>
                  </label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.selectedProvider.$error"
                         ng-show="vm.showMessages">
                      <div ng-messages-include="../common/application/views/error-messages.html"></div>
                    </div>
                    <input name="selectedProvider"
                           uib-typeahead="p as p.display for p in vm.searchProviders($viewValue)"
                           type="text"
                           ng-model="vm.selectedProvider"
                           id="provider" class="form-control keyboard-in" required/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary panel-marginless-sides">
            <div class="list-group">
              <div class="list-group-item list-group-item-success">
                <checkbox largest
                          name="drugType"
                          ng-model="vm.regimen.isArv"
                          ng-change="vm.cleanDrugIfUnchecked()"
                          ng-disabled="vm.listedPrescriptions.length">
                </checkbox>
                {{'COMMON_MESSAGE_QUESTION_CREATE_ARV_PRESCRIPTION_ITEM' | translate}}
              </div>
            </div>
          </div>

          <arv-regimen ng-if="vm.regimen.isArv"
                       patient="vm.patient"
                       regimen="vm.regimen"
                       prescription-conv-set="vm.prescriptionConvSet"
                       disabled="vm.listedPrescriptions.length"
                       on-therapeutic-line-change="vm.onTherapeuticLineChange(therapeuticLine);"
                       on-art-plan-change="vm.onArtPlanChange(artPlan);"
                       on-drug-regimen-change="vm.onDrugRegimenChange(drugRegimen);">
          </arv-regimen>

          <div class="panel panel-primary panel-marginless-sides">
            <div class="panel-heading">
              <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_DRUG'| translate}}</h3>
            </div>
            <div class="panel-body">

              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.drug.$invalid && vm.showMessages}"
                   ng-show="!vm.regimen.isArv">
                <label class="col-sm-3 control-label">
                  {{'CLINIC_PRESCRIPTION_DRUG'| translate}}:<span class="asterick">*</span>
                </label>
                <div class="col-sm-9">
                  <div ng-messages for="prescriptionForm.drug.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <input type="text"
                         name="drug"
                         ng-model="vm.prescriptionItem.drugOrder.drug"
                         uib-typeahead="drug as drug.display for drug in vm.getDrugs($viewValue)"
                         class="form-control keyboard-in"
                         ng-required="true"
                         ng-focus="vm.checkDrugType(vm.prescriptionItem.drugOrder.drug)">

                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.arvDrug.$invalid && vm.showMessages}"
                   ng-show="vm.regimen.isArv">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DRUG'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-9">
                  <div ng-messages for="prescriptionForm.arvDrug.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <select name="arvDrug" class="form-control" ng-model="vm.prescriptionItem.drugOrder.drug"
                          ng-options="arvDrug.display for arvDrug in vm.arvDrugs track by arvDrug.uuid"
                          ng-change="vm.verifyDrugAvailability(vm.prescriptionItem.drugOrder.drug)" required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.doseAmount.$invalid && vm.showMessages}">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DOSE'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-3">
                  <div ng-messages for="prescriptionForm.doseAmount.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                    <div class="label label-danger" ng-message="min">
                      {{ 'COMMON_MESSAGE_ERROR_DOSAGE_CANNOT_BE_ZERO' | translate }}
                    </div>
                  </div>
                  <input name="doseAmount" type="number" class="form-control keyboard-in"
                         ng-model="vm.prescriptionItem.drugOrder.dose"
                         placeholder="{{'CLINIC_PRESCRIPTION_DOSE' | translate}}"
                         min="0.1"
                         required>
                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.dosingUnits.$invalid && vm.showMessages}">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_UNITS'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-9">
                  <div ng-messages for="prescriptionForm.dosingUnits.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <select name="dosingUnits" class="form-control" ng-model="vm.prescriptionItem.drugOrder.doseUnits"
                          ng-options="unit.display for unit in vm.prescriptionConvSet.dosingUnits.answers track by unit.uuid"
                          required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.dosgeFrequency.$invalid && vm.showMessages}">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_POSOLOGY'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-9">
                  <div ng-messages for="prescriptionForm.dosgeFrequency.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <select name="dosgeFrequency" class="form-control"
                          ng-model="vm.prescriptionItem.drugOrder.frequency"
                          ng-options="frequency.display for frequency in vm.prescriptionConvSet.dosgeFrequency.answers track by frequency.uuid"
                          required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.drugRoute.$invalid && vm.showMessages}">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_ROUTE'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-9">
                  <div ng-messages for="prescriptionForm.drugRoute.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <select name="drugRoute" class="form-control" ng-model="vm.prescriptionItem.drugOrder.route"
                          ng-options="route.display for route in vm.prescriptionConvSet.drugRoute.answers track by route.uuid"
                          required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.duration.$invalid && vm.showMessages}">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DURATION'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-3">
                  <div ng-messages for="prescriptionForm.duration.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                    <div class="label label-danger" ng-message="min">{{ 'COMMON_MESSAGE_ERROR_DURATION_CANNOT_BE_ZERO' |
                      translate }}
                    </div>
                  </div>
                  <input name="duration" type="number" class="form-control keyboard-in"
                         ng-model="vm.prescriptionItem.drugOrder.duration"
                         placeholder="{{'CLINIC_PRESCRIPTION_DURATION' | translate}}"
                         min="0.1"
                         required>
                </div>
                <div class="col-sm-6"
                     ng-class="{'has-error': prescriptionForm.durationUnits.$invalid && vm.showMessages}">
                  <div ng-messages for="prescriptionForm.durationUnits.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <select name="durationUnits" class="form-control"
                          ng-model="vm.prescriptionItem.drugOrder.durationUnits"
                          ng-options="durationUnit.display for durationUnit in vm.prescriptionConvSet.durationUnits.answers track by durationUnit.uuid"
                          required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group form-group-lg"
                   ng-class="{'has-error': prescriptionForm.dosingInstructions.$invalid && vm.showMessages}">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_RECOMMENDATION'| translate}}:<span
                  class="asterick">*</span></label>
                <div class="col-sm-9">
                  <div ng-messages for="prescriptionForm.dosingInstructions.$error"
                       ng-show="vm.showMessages">
                    <div ng-messages-include="../common/application/views/error-messages.html"></div>
                  </div>
                  <select name="dosingInstructions" class="form-control"
                          ng-model="vm.prescriptionItem.drugOrder.dosingInstructions"
                          ng-options="instruction.display for instruction in vm.prescriptionConvSet.dosingInstructions.answers track by instruction.uuid"
                          required>
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary panel-marginless-sides">
            <div class="panel-footer go-to-right">
              <button class="btn btn-default btn-lg" type="button" ng-click="vm.reset(prescriptionForm)">
                <span class="glyphicon glyphicon-erase"></span>
                <span class="button-label">{{'CLEAR' | translate}}</span>
              </button>
              <button class="btn btn-primary btn-lg" type="button"
                      ng-click="vm.add(prescriptionForm)">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="button-label">{{'ADD' | translate}}</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="panel panel-primary panel-marginless-sides">
        <div class="panel-heading">
          <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_NEW'| translate}}</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item list-group-item-success" ng-repeat="item in vm.listedPrescriptions">
            <span>
              <strong>{{item.drugOrder.drug.display}}</strong>
              <span ng-if="item.regime">
               <strong ng-if="item.regime">({{item.regime.display}}</strong> : {{item.therapeuticLine.display}})-
            </span>
              {{item.drugOrder.dose}}
              {{item.drugOrder.doseUnits.display}}, {{item.drugOrder.frequency.display}},
              {{item.drugOrder.route.display}} - {{item.drugOrder.duration}}
              {{item.drugOrder.durationUnits.display}}, {{item.drugOrder.dosingInstructions.display}}
            </span>
            <span ng-if="item.regime && item.arvPlan">
                <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN'| translate}}:</strong> {{item.arvPlan.display}}
            </span>
            <span ng-if="item.drugOrder.drug.isProphilaxy">
                <strong>{{'CLINIC_PRESCRIPTION_PROPHYLAXIS_PLAN'| translate}}:</strong> {{item.prophilaxyPlan.display}}
            </span>
            <span ng-if="item.drugOrder.isPlanInterrupted && item.isArv">
                <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_FOR'| translate}}:</strong> {{item.interruptedReason.display}}
            </span>
            <span ng-if="item.drugOrder.changeReason">
                <strong>{{'CLINIC_PRESCRIPTION_ARV_CHANGE_FOR'| translate}}:</strong> {{item.changeReason.display}}
            </span>
            <span>
              <button type="button" class="close btn-lg content-border-margin-regular-sides"
                      ng-click="vm.remove(item)">
                <span class="glyphicon glyphicon-remove-circle"></span>
              </button>
              <button type="button" class="close btn-lg content-border-margin-regular-sides"
                      ng-click="vm.edit(item)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </span>
          </div>
        </div>

        <div class="panel-footer go-to-right" ng-show="vm.showNewPrescriptionsControlls">
          <poc-confirm-button class="btn btn-danger btn-lg" on-confirm="vm.removeAll()"
                              ng-click="vm.removingItems = !vm.removingItems">
            <span class="glyphicon glyphicon-remove-sign"></span>
            <span class="button-label">{{'REMOVE_ALL' | translate}}</span>
          </poc-confirm-button>
          <span ng-if="!vm.removingItems">
          <button class="btn btn-primary btn-lg" type="button" ng-click="vm.save(prescriptionForm)">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span class="button-label">{{'SAVE' | translate}}</span>
          </button>
        </span>
        </div>
      </div>

      <poc-authorize privilege="'Read Drug Prescription'">
        <div class="panel panel-primary panel-marginless-sides">
          <div class="panel-heading">
            <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_PRESCRIBED'| translate}}</h3>
          </div>
          <div class="list-group" ng-repeat="existingPrescription in vm.existingPrescriptions">
            <div class="bg-info content-border-padding-li">
              {{'CLINIC_PATIENT_PRESCRIBED' | translate}} {{'COMMON_ON' | translate}}
              {{existingPrescription.prescriptionDate | date}}
            </div>
            <div class="list-group-item" ng-repeat="item in existingPrescription.prescriptionItems">
                <span>
                  <strong>{{item.drugOrder.drug.display}}</strong>
                  <span ng-if="item.regime">
                    <strong ng-if="item.regime">({{item.regime.display}}</strong> : {{item.therapeuticLine.display}})-
                  </span>
                  {{item.drugOrder.dose}} {{item.drugOrder.doseUnits.display}}, {{item.drugOrder.frequency.display}},
                  {{item.drugOrder.route.display}} - {{item.drugOrder.duration}} {{item.drugOrder.durationUnits.display}},
                  {{item.dosingInstructions}}
                </span>
              <span ng-if="item.regime">
                  (<strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN'| translate}}:</strong>{{item.arvPlan.display}})
                </span>
              <span ng-if="item.isProphilaxy">
                  <strong>{{'CLINIC_PRESCRIPTION_PROPHYLAXIS_PLAN'| translate}}:</strong> {{item.prophilaxyPlan.display}}
                </span>
              <span ng-if="item.regime && item.interruptionReason">
                  <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_FOR'| translate}}:</strong> {{item.interruptionReason.display}}
                </span>
              <span ng-if="item.regime && existingPrescription.changeReason">
                  <strong>{{'CLINIC_PRESCRIPTION_ARV_CHANGE_FOR'| translate}}:</strong> {{existingPrescription.changeReason.display}}
                </span>
              <span style="color:green;" ng-hide="!vm.checkActiveAndNewItemStatus(item)">
                  <strong>{{item.statusStranslate | translate}}</strong>
                </span>
              <span style="color:orange;" ng-hide="vm.checkActiveAndNewItemStatus(item)">
                  <strong>
                    {{item.statusStranslate | translate}}
                  </strong>
                </span>
              <poc-authorize privilege="'Delete Drug Prescription'">
                <button type="button" class="close btn-lg content-border-margin-regular-sides"
                        ng-click="vm.cancelOrStop(item)" ng-hide="!item.cancellable">
                  <span class="glyphicon glyphicon-trash" ng-hide="item.status != 'NEW' "></span>
                  <span class="glyphicon glyphicon-floppy-remove" ng-hide="!item.interruptible"></span>
                  <span class="button-label" ng-hide="item.status != 'NEW' ">{{'CANCEL' | translate}}</span>
                  <span class="button-label" ng-hide="!item.interruptible">{{'DISCONTINUE' | translate}}</span>
                </button>
              </poc-authorize>
              <poc-authorize privilege="'Write Drug Prescription'">
                <button type="button" class="close btn-lg content-border-margin-regular-sides"
                        ng-click="vm.refill(item)" ng-hide="!vm.checkItemIsRefillable(existingPrescription)">
                  <span class="glyphicon glyphicon-repeat"></span>
                  <span class="button-label">{{'REFILL' | translate}}</span>
                </button>
              </poc-authorize>
            </div>
          </div>
        </div>
      </poc-authorize>

    </div>

  </div>

</poc-authorize>
