<div class="row bg-info-border content-border header-text-lg">
  <div class="col-sm-12">

    <div class="checkin">
      <div class="pull-left status">
        <div class="checked-in" ng-if="vm.todayVisit">
          <span class="glyphicon glyphicon-info-sign"></span>
          <span translate="CHECKIN_CHECKED_IN_TODAY"
                translate-value-visitType="{{vm.todayVisit.visitType.display}}"
                translate-value-startDateTime="{{vm.todayVisit.startDatetime | date:'short'}}">
          </span>
        </div>

        <div ng-if="!vm.todayVisit">
          <span class="glyphicon glyphicon-warning-sign"></span>
          <span>{{'CHECKIN_NOT_CHECKED_IN_TODAY' | translate}}</span>
        </div>
      </div>


      <poc-authorize privilege="'Write Visit'">
        <div class="pull-right" ng-if="!vm.disableCheckin">
          <button type="button" class="btn btn-primary btn-lg" ng-disabled="vm.disableCheckin" ng-click="vm.checkIn()">
            <span class="glyphicon glyphicon-log-in"></span>
            <span class="button-label">{{'COMMON_CHECKIN' | translate}}</span>
          </button>
        </div>
      </poc-authorize>
    </div>

  </div>
</div>
