<poc-authorize privilege="'Read Patient Program'" display-info="true">

  <no-results-alert collection="activePrograms" message="COMMON_PROGRAM_NO_PROGRAMS"></no-results-alert>

  <table class="table table-responsive" ng-if="activePrograms.length">
    <thead>
      <tr>
        <th>{{'COMMON_PROGRAM_NAME' | translate}}</th>
        <th>{{'COMMON_DATE' | translate}}</th>
        <th>{{'COMMON_STATE' | translate}}</th>
        <th>{{'COMMON_DETAILS' | translate}}</th>
        <th>{{'COMMON_OUTCOME' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="hasPatientEnrolledToSomePrograms()" ng-repeat="program in activePrograms">
        <td>
          <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#editProgramModal" ng-click="setProgramSelected(program)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="button-label">{{ 'EDIT' | translate }}</span>
          </button>
          {{program.display}}
        </td>
        <td>
          {{'COMMON_PROGRAM_ENROLLMENT_ENROLLED_ON' | translate}}: ({{program.dateEnrolled | date}})
        </td>
        <td ng-if="hasValidProgramStateToShow(program.states)" ng-init="currentState = getCurrentProgramState(program.states)">
          <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#editProgramStateModal" ng-click="setProgramSelected(program)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="button-label">{{ 'EDIT' | translate }}</span>
          </button>
          {{currentState.state.concept.display}}
          <span ng-if="currentState.endDate !== null">
            {{'COMMON_TO' | translate}} {{currentState.endDate | date}}
          </span>
          <span ng-if="currentState.endDate === null">
            {{'COMMON_FROM' | translate}} ({{currentState.startDate | date}})
          </span>
        </td>
        <td ng-if="!hasValidProgramStateToShow(program.states) && hasProgramWorkflowStates(program)">
          <poc-authorize privilege="'Edit Patient Program'">
            <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#addProgramStateModal" ng-click="setProgramSelected(program)">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="button-label">{{'ADD' | translate}}</span>
            </button>
          </poc-authorize>
        </td>
        <td>
          <button ng-if="hasValidProgramStateToShow(program.states)" class="btn btn-success btn-lg" type="button" data-toggle="modal"
            data-target="#detailProgramModal" ng-click="setProgramSelected(program)">
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="button-label">{{'VIEW' | translate}}</span>
          </button>
        </td>
        <td ng-if="program.outcome">
          {{program.outcome.display}}
        </td>
        <td ng-if="!program.outcome">
        </td>
      </tr>

      <tr ng-if="hasPatientAnyPastPrograms()" ng-repeat="program in endedPrograms">
        <td>
          {{program.display}}
        </td>
        <td>
          {{'COMMON_PROGRAM_ENROLLMENT_COMPLETED_ON' | translate}}: ({{program.dateCompleted | date}})
        </td>
        <td ng-if="hasValidProgramStateToShow(program.states)" ng-init="currentState = getCurrentProgramState(program.states)">
          {{currentState.state.concept.display}}
          <span ng-if="currentState.endDate !== null">
            {{'COMMON_TO' | translate}} {{currentState.endDate | date}}
          </span>
          <span ng-if="currentState.endDate === null">
            {{'COMMON_FROM' | translate}} ({{currentState.startDate | date}})
          </span>
        </td>
        <td ng-if="!hasValidProgramStateToShow(program.states)">
          <p>{{'COMMON_PROGRAM_ENROLLMENT_NO_STATE' | translate}}</p>
        </td>
        <td>
          <button ng-if="hasValidProgramStateToShow(program.states)" class="btn btn-success btn-lg" type="button" data-toggle="modal"
            data-target="#detailProgramModal" ng-click="setProgramSelected(program)">
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="button-label">{{'VIEW' | translate}}</span>
          </button>
        </td>
        <td ng-if="program.outcome">
          {{program.outcome.display}}
        </td>
      </tr>
    </tbody>
    </tfoot>
  </table>

  <poc-authorize privilege="'Write Patient Program'">
    <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="resetProgramFields()" data-toggle="modal" data-target="#addProgramModal">
      <span class="glyphicon glyphicon-plus-sign"></span>
      <span class="button-label">{{'NEW_PROGRAM' | translate}}</span>
    </button>
  </poc-authorize>

</poc-authorize>

<!-- modal dialogs -->
<div ng-include src="'../common/uicontrols/programmanagement/views/program-add.html'"></div>
<div ng-include src="'../common/uicontrols/programmanagement/views/program-edit.html'"></div>
<div ng-include src="'../common/uicontrols/programmanagement/views/program-state-edit.html'"></div>
<div ng-include src="'../common/uicontrols/programmanagement/views/program-detail.html'"></div>
<div ng-include src="'../common/uicontrols/programmanagement/views/program-state-add.html'"></div>
