<div class="modal fade" id="detailProgramModal" tabindex="-1" role="dialog" aria-labelledby="detailProgramModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailProgramModalLabel">Detail Program: {{programSelected.display}}</h4>
            </div>
            <table class="table table-responsive">
                <tbody>
                    <tr ng-repeat="state in programSelected.states| orderBy:'auditInfo.dateCreated':true" ng-if="state.voided != true">
                        <td>{{state.state.concept.display}}</td>
                        <td ng-if="state.endDate">{{state.startDate| date}} to {{state.endDate| date}}</td>
                        <td ng-if="!state.endDate">Started on {{state.startDate| date}}</td>
                        <td>By {{state.auditInfo.creator.display}} on {{state.auditInfo.dateCreated| date}}</td>
                        <td class="go-to-right">
                            <button type="button" class="btn btn-danger btn-lg" poc-confirm-click="removePatientState(programSelected)" ng-if="canRemovePatientState(state)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                <span class="button-label">{{'REMOVE' | translate}}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="go-to-right">
                            <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                <span class="button-label">{{'CANCEL' | translate}}</span>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
