<!--div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div-->
<div class="bg-info-border content-border border-rouded go-to-center">
    <div class="inline-align content-border-margin-regular" ng-repeat="app in apps">
        <button type="button" ng-show="app.active" class="btn btn-default" ng-click="linkApp(app.url)">
            <span>
                <img ng-src="../../{{app.logo}}" width="120" height="82" alt="provider">
            </span>
            <br/>{{app.name | translate}}
        </button>
    </div>
</div>
<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'USER_DASHBOARD_ACTIVITIES' | translate}}</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default inline-align col-md-6">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'USER_DASHBOARD_LAST_ACTIVITIES' | translate}}</h3>
                </div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" chart-data="barData"
                        chart-labels="barLabels" chart-series="barSeries" legend="true"></canvas>
            </div>
            </div>
            <div class="panel panel-default inline-align col-md-6">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'USER_DASHBOARD_FREQUENT_ACTIONS' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie" chart-data="pieData"
                            chart-labels="pieLabels"  chart-series="pieSeries" legend="true"></canvas>
                </div>
            </div>
    </div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'USER_DASHBOARD_LOGGING' | translate}}</h3>
    </div>
    <div class="panel-body">
        <p><b>{{'USER_DASHBOARD_LAST_LOGIN' | translate}}:</b> 2015-07-23 18:00:00</p>
        <p><b>{{'USER_DASHBOARD_LONGEST_SESSION' | translate}}:</b> 600 mins</p>
    </div>
</div>
