/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 9, 2015, 3:27:58 PM
    Author     : eSaude
*/

.panel-marginless-sides {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.panel-marginless-top {
    margin-top: -10px;
}

.panel-marginless-bottom {
    margin-bottom: -5px;
}

.go-to-right {
    text-align: right;
}

.go-to-center {
    text-align: center;
}

.go-to-left {
    text-align: left;
}

.inline-align {
    display: inline-block;
}
.content-border {
    padding: 10px;
    margin: 5px 25px 5px 25px;
}

.content-border-margin {
    margin: 5px 25px 5px 25px;
}

.content-border-padding {
    padding: 10px;
}

.content-border-padding-li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-border-margin-regular {
    margin: 5px;
}

.content-border-padding-regular {
    padding: 10px;
}

.content-border-margin-regular-bottom {
    margin-bottom: 5px
}

.content-border-margin-regular-top {
    margin-top: 5px
}

.content-border-margin-regular-sides {
    margin-left: 2px;
    margin-right: 2px;
}

.header-text-lg {
    font-size: 20px;
    font-weight: normal;
}

.default-border-bottom {
    border-bottom: 1px solid #e0e0eb;
}

.bg-info-border {
    border: 1px solid #337ab7;
}

.bg-error-border {
    border: 1px solid firebrick;
}

.border-rouded {
    border-radius: 4px;
}

.border-rouded-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.border-rouded-bottom {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.asterick {
    color:red;
    display: inline-block;
    padding-left: 5px;
}

b, li, th, p .text-lg {
    font-size: 18px;
    vertical-align: middle;
}

keyboard {
    font-size: 18px;
}

#status-buttons a               { display:inline-block; text-align:center; text-transform:uppercase; margin:0 60px 0 5px; font-size: 20px;}
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }
#status-buttons a.active span   { background:#00BC8C; }

input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
}
input[type=radio]:checked + label::before {
    background-color: #00BC8C;
}

.radio-lx + label::before {
    width: 2.0em;
    height: 2.0em;
}

.label {
    font-size: 14px;
}

#loader {
  z-index: 10000;
  width: 100%;
  height: 20px;
  margin: 20px auto;
  background-image: url('../images/loader.gif');
  background-repeat:no-repeat;
  background-position:center;
}

#overlay {
  z-index: 10000000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6) url('../images/spinner.gif') no-repeat center center;
}

#overlay div {
    width:100%;
    height: 100%;
}

.footer {
    padding: 0;
}

.footer-version {
    float: right;
    color: #337ABA;
    font-weight: bold;
}

p.capitalize {
  text-transform: capitalize;
}

.barcode {
  width:20px;
  height: 10px;
}

/* Header */
.navbar {
  min-height: 62px;
  padding: 0;
}

.navbar .navbar-brand {
  padding: 10px 15px;
}

.navbar .navbar-nav li a {
  line-height: 62px;  /* navbar min-height */
  height: 62px;       /* navbar min-height */
  padding-top: 0;
}

.navbar-primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

.navbar-primary .navbar-nav > li > a {
  color: #fff;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .nav .open > a {
  background-color: #2d6ca3;
}
/**/

/* Dispensation */
/* All prescriptions except the last one */
.dispensation  > .prescription:not(:nth-last-child(2)) .panel {
  margin-bottom: 5px;
}
/**/

.button-label {
  font-size: 10pt;
}

/* Checkin */
.checkin .status {
  line-height: 2.4;
}

/* Datepicker */
.uib-datepicker .btn-default {
  border: none;
}
