/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 9, 2015, 3:27:58 PM
    Author     : eSaude
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 26px; /* relative to .footer height */
  font-size: 18px;
}

.panel-marginless-sides {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.panel-marginless-top {
    margin-top: -10px;
}

.panel-marginless-bottom {
    margin-bottom: -5px;
}

.go-to-right {
    text-align: right;
}

.go-to-center {
    text-align: center;
}

.go-to-left {
    text-align: left;
}

.inline-align {
    display: inline-block;
}
.content-border {
    padding: 10px;
    margin: 5px 25px 5px 25px;
}

.content-border-margin {
    margin: 5px 25px 5px 25px;
}

.content-border-padding {
    padding: 10px;
}

.content-border-padding-li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-border-margin-regular {
    margin: 5px;
}

.content-border-padding-regular {
    padding: 10px;
}

.content-border-margin-regular-bottom {
    margin-bottom: 5px
}

.content-border-margin-regular-top {
    margin-top: 5px
}

.content-border-margin-regular-sides {
    margin-left: 2px;
    margin-right: 2px;
}

.header-text-lg {
    font-size: 20px;
    font-weight: normal;
}

.default-border-bottom {
    border-bottom: 1px solid #e0e0eb;
}

.bg-info-border {
    border: 1px solid #337ab7;
}

.bg-error-border {
    border: 1px solid firebrick;
}

.border-rouded {
    border-radius: 4px;
}

.border-rouded-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.border-rouded-bottom {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.asterick {
    color:red;
    display: inline-block;
    padding-left: 5px;
}

b, li, th, p .text-lg {
    vertical-align: middle;
}

#status-buttons a               { display:inline-block; text-align:center; text-transform:uppercase; margin:0 60px 0 5px; font-size: 20px; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }
#status-buttons a.active span   { background:#00BC8C; }

input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
}
input[type=radio]:checked + label::before {
    background-color: #00BC8C;
}

.radio-lx + label::before {
    width: 2.0em;
    height: 2.0em;
}

#loader {
  z-index: 10000;
  width: 100%;
  height: 20px;
  margin: 20px auto;
  background-image: url('../images/loader.gif');
  background-repeat:no-repeat;
  background-position:center;
}

#overlay {
  z-index: 10000000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4) url('../images/spinner.svg') no-repeat center center;
}

#overlay div {
    width:100%;
    height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .version {
  color: #337ABA;
  font-weight: bold;
  margin: 0 25px;
}

p.capitalize {
  text-transform: capitalize;
}

.barcode {
  width:20px;
  height: 10px;
}

/* Header */
.navbar {
  min-height: 80px;
  padding: 0;
}

.navbar .navbar-brand {
  line-height: 50px;
  height: 80px;       /* navbar min-height */
  color: #ffffff;
}

.navbar .navbar-nav li a {
  line-height: 80px;  /* navbar min-height */
  height: 80px;       /* navbar min-height */
  padding-top: 0;
}

.navbar-primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

.navbar-primary .navbar-nav > li > a {
  color: #fff;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .nav .open > a {
  background-color: #2d6ca3;
}
/**/

/* Dispensation */
/* All prescriptions except the last one */
.dispensation  > .prescription:not(:nth-last-child(2)) .panel {
  margin-bottom: 5px;
}
/**/

.button-label {
  font-size: 10pt;
}

/* Checkin */
.checkin .status {
  line-height: 2.4;
}
/**/

/* Login */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login .logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
}

.login form {
  border: 1px solid #ccc;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.login form > h1 {
  margin-bottom: 30px;
}

.login form .form-group:last-child {
  margin-bottom: 0;
}
/**/


/* smart-table sort cursor and row selection */
.st-sort-ascent:before {
  content: '\25B2';
}

.st-sort-descent:before {
  content: '\25BC';
}

.table-striped > tbody > tr.st-selected {
   background: #85adad;
   color: white;
}
/**/

/* Datepicker */
.uib-datepicker .btn {
  border: none;
  box-shadow: none;
  /*using btn-lg styles*/
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
/**/


/* Consultation summary*/
.consultation-summary .period {
  line-height: 2;
}

.consultation-summary .chart-wrapper {
  position: relative;
  height: 49vh;
}
/**/

/* Lab tests */
.lab-tests .table > tbody > tr > td {
  border-top: none;
}

.lab-tests .test-order-list {
  padding-right: 0;
}

.lab-tests .test-order-list .table tr {
  cursor: pointer;
}

.lab-tests .test-order-list .table td {
  vertical-align: middle;
}

.lab-tests .test-order-list tbody tr {
  height: 112px;
}

.lab-tests .test-order-details {
  padding-left: 0;
}

.lab-tests .test-order-details .item-form label {
  font-weight: normal;
}

.lab-tests .test-order-details .item-form .form-group {
  min-height: 95px;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.lab-tests .test-order-details tbody {
  background-color: #f5f5f5;
}

/* FormField*/
.form-field .info {
  min-height: 25px;
}
/**/

/* Visit Header */
.visit-header {
  position: relative;
}

.visit-header.load-failed > div {
  opacity: 0.5;
}

.visit-header .reload {
  position: absolute;
  right: 10px;
}

/* Marital Partners */
.marital-partners {
  padding: 10px;
}

/*.marital-partners > .row {*/
  /*margin-bottom: 10px;*/
/*}*/

.marital-partners > div > .row:first-child {
  font-weight: bold;
}
/**/

/* Patient Header */
.patient-header .age {
  padding-left: 28px;
}

.patient-header .deceased > hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.patientdeceased {
  border: 1px solid #b73339;
  background-color: #fa9898;
}

.patientdeceased .name-age,
.patientdeceased .identifiers {
  opacity: .5;
}
/**/
