<patient-header patient="vm.patient"></patient-header>

<div class="row bg-info-border content-border border-rouded-bottom go-to-right">
  <button type="button" class="btn btn-warning btn-lg" ng-click="vm.linkDashboard()">
    <span class="glyphicon glyphicon-step-backward"></span>
    <span class="button-label">{{'PREVIOUS_STEP' | translate}}</span>
  </button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addVisitModal" ng-click="vm.print()">
    <span class="glyphicon glyphicon-print"></span>
    <span class="button-label">{{'PRINT' | translate}}</span>
  </button>
</div>

<div class="row bg-info-border content-border border-rouded-top"><!-- program header controls -->

  <uib-tabset active="active">

    <uib-tab index="0" heading="{{'PATIENT_INFO_IDENTIFIERS' | translate}}">
      <patient-identifiers patient="vm.patient"></patient-identifiers>
    </uib-tab>

    <uib-tab index="1" heading="{{'PATIENT_INFO_DEMOGRAPHICS' | translate}}">
      <patient-demographics patient="vm.patient"></patient-demographics>
    </uib-tab>

    <uib-tab index="2" heading="{{'PATIENT_INFO_ADDRESSES' | translate}}">
      <patient-address patient="vm.patient"></patient-address>
    </uib-tab>

    <uib-tab index="3" heading="{{'PATIENT_INFO_OTHERS' | translate}}">
      <patient-other patient="vm.patient"></patient-other>
    </uib-tab>

    <uib-tab index="4" heading="{{'PATIENT_INFO_DEATH' | translate}}">
      <patient-death patient="vm.patient"></patient-death>
    </uib-tab>

    <uib-tab index="5" heading="{{'PATIENT_INFO_HIV_TEST' | translate}}">
      <patient-hiv-test patient="vm.patient"></patient-hiv-test>
    </uib-tab>

  </uib-tabset>

</div>
