<div class="row bg-info-border bg-info content-border border-rouded-top">
  <div class="header-text-lg">
    <b>{{ vm.headerText | translate}}</b>
  </div>
</div>

<poc-wizard on-show-message="vm.setShowMessage(showMessage)" on-save="vm.save()">

  <form name="vm.formIdentifiers" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formIdentifiers" title="{{'PATIENT_INFO_IDENTIFIERS' | translate}}">
      <patient-identifiers-step patient="vm.patient" form="vm.formIdentifiers" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <form name="vm.formNames" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formNames" title="{{'PATIENT_INFO_NAME' | translate}}">
      <patient-names-step patient="vm.patient" form="vm.formNames" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <form name="vm.formGender" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formGender" title="{{'PATIENT_INFO_GENDER' | translate}}">
      <patient-gender-step patient="vm.patient" form="vm.formGender" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <form name="vm.formAge" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formAge" title="{{'PATIENT_INFO_AGE' | translate}}">
      <patient-age-step patient="vm.patient" form="vm.formAge" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <form name="vm.formAddress" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formAddress" title="{{'PATIENT_INFO_ADDRESS' | translate}}">
      <patient-address-step patient="vm.patient" form="vm.formAddress" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <form name="vm.formOther" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formOther" title="{{'PATIENT_INFO_OTHERS' | translate}}">
      <patient-other-step patient="vm.patient" form="vm.formOther" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <form name="vm.formHiv" class="form-horizontal" novalidate>
    <poc-wizard-step form="vm.formHiv" title="{{'PATIENT_INFO_HIV_TEST' | translate}}">
      <patient-hiv-test-step patient="vm.patient" form="vm.formHiv" show-messages="vm.showMessages" />
    </poc-wizard-step>
  </form>

  <poc-wizard-step title="{{'CONFIRMATION' | translate}}">
    <patient-confirm-step patient="vm.patient" />
  </poc-wizard-step>
  
</poc-wizard>

<div class="row bg-info-border content-border border-rouded-bottom">

  <button type="button" class="btn btn-warning btn-lg" ng-click="vm.linkCancel();">
    <span class="glyphicon glyphicon-minus-sign"></span>
    <span class="button-label">{{'CANCEL' | translate}}</span>
  </button>

</div>