<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Reference Person</h3>
    </div>
    
    <div class="panel-body">
        <form class="form-horizontal">
            
            <form-field form-parts="formPayload" 
                field-uuid="formInfo.formFieldParts.referencePerson.name"
                field-id="givenName">
            </form-field>
            
            <p>{{formPayload.form.fields[formInfo.formFieldParts.referencePerson.name].value}}</p>
            
            <form-field form-parts="formPayload" 
                field-uuid="formInfo.formFieldParts.personalInfo.educationLevel"
                field-id="testId">
            </form-field>
            
            <p>{{formPayload.form.fields[formInfo.formFieldParts.personalInfo.educationLevel].value}}</p>
            
        </form>
    </div>
</div>

<div class="row bg-info-border content-border border-rouded">
    <button type="submit" class="btn btn-success btn-lg" ui-sref="anamnesis.extra">
        <span class="glyphicon glyphicon glyphicon-step-forward"></span>
    </button>
</div>

<!--script src="../../scripts/virtual-keyboard.js" type="text/javascript"></script-->