<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Reference Person</h3>
    </div>

    <div ng-include src="'../anamnesis/views/anamnesis-reference.html'"></div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Personal Info & Sexual Partners</h3>
    </div>

    <div ng-include src="'../anamnesis/views/anamnesis-a-extra.html'"></div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Children</h3>
    </div>

    <div ng-include src="'../anamnesis/views/anamnesis-a-children.html'"></div>
</div>

<div class="row bg-info-border content-border border-rouded">
    <button type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon glyphicon glyphicon-floppy-disk"></span>
    </button>
</div>