<!-- build:report styles/report.patient-arv-pickup-history.min.css -->
<link href="../../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="print"/>
<link href="../../../styles/patient-arv-pickup-history-report.css" rel="stylesheet" media="print">
<!-- endbuild -->

<div class="header-container" style="display: flex;">

  <div id="top-left-area">
      <div class="simbol-area">
        <p><img id="simbol" class="emblem" src="../../../images/emblem-md.png" /></p>
        <p id="simbol-first-paragraph">{{'COMMON_REPUBLIC_OF_MOZAMBIQUE' | translate}}</p>
        <p>{{'COMMON_MINISTRY_OF_HEALTH' | translate}}</p>
        <p>{{'COMMON_HEALTH_NATIONAL_SERVICE' | translate}}</p>
      </div>
      <div class="title">{{'FILA_REPORT_TITLE' | translate}}</div>
      <div id="top-foot-note">* {{'FILA_REPORT_FIRST_FOOT_NOTE' | translate}}</div>
      <div id="calendar-conteiner">
        <h2>{{'DISPENSATION_CONTROL_CALENDAR' | translate}}</h2>
        <table id="calendar">
          <tr>
            <th class="empty"></th>
            <th class="empty"></th>
            <th ng-repeat="month in months track by $index">{{month}}</th>
          </tr>
          <tr>
            <th class="long-side-header" rowspan="5">Semana</th>
            <th>{{'FIRST_ABRV' | translate}}</th>
            <td ng-repeat="x in calendar[0] track by $index">{{x}}</td>
          </tr>
          <tr>
            <th>{{'SECOND_ABRV' | translate}}</th>
            <td ng-repeat="x in calendar[1] track by $index">{{x}}</td>
          </tr>
          <tr>
            <th>{{'THIRD_ABRV' | translate}}</th>
            <td ng-repeat="x in calendar[2] track by $index">{{x}}</td>
          </tr>
          <tr>
            <th>{{'FORTH_ABRV' | translate}}</th>
            <td ng-repeat="x in calendar[3] track by $index">{{x}}</td>
          </tr>
        </table>
      </div>
  </div>

  <div id="top-right-area">
    <h2 id="top-right-area-title">{{'FILA_REPORT_PERSONAL_DATA_NOTE' | translate}}</h2>
    <div id="patient-data-container">
      <div style="font-size: 8pt; font-weight: bold; width: 40mm; margin-left: 3mm; align-self: center; font-size: 10pt; text-align: center;">
        <span id="nid-label">{{'SEARCH_PATIENT_NID' | translate}}:</span> {{patient.identifier}}
      </div>
      <div id="personal-data-conteiner">
        <div id="first-line-personal-data" class="personal-data">{{'FILA_REPORT_LEGEND_HEADER' | translate}}</div>
        <div class="personal-data">{{'SEARCH_PATIENT_FIRSTNAME' | translate}}: {{patient.fullName}}</div>
        <div class="personal-data">{{'PATIENT_INFO_OTHERS' | translate}}: {{patient['Numero de Telefone 1']}} / {{patient['Numero de Telefone 2']}}</div>
        <div class="personal-data">
          {{'PATIENT_INFO_ADDRESS' | translate}}: {{patient.address.localized.line1}} <br>
          {{patient.address.localized.line2}}
        </div>
      </div>
    </div>
  </div>

</div>


<div id="main-container">

  <table style="width: 145mm;">
      <thead>
        <tr>
          <th>{{'FILA_REPORT_PICKUP_DATE' | translate}}</th>
          <th class="medicine-column">{{'FILA_REPORT_ARV_MEDS' | translate}}</th>
          <th>{{'FILA_REPORT_QTY' | translate}}</th>
          <th class="dosage-column">{{'FILA_REPORT_DOSAGE' | translate}}</th>
          <th>{{'FILA_REPORT_NEXT_PICKUP_DATE' | translate}}</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="displacement in filaDisplacements1 track by $index" class="displacement-row">
          <td ng-if="displacement.dateRowSpanSize > 0" rowspan="{{displacement.dateRowSpanSize}}">{{displacement.date | date}}&nbsp;</td>
          <td>{{displacement.medicine}}&nbsp;</td>
          <td>{{displacement.quantity}}&nbsp;</td>
          <td>{{displacement.dosage}}&nbsp;</td>
          <td>{{displacement.nextDisplacement | date}}&nbsp;</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" style="border: none; text-align: left;">* O farmacêutico não pode aviar mais MARVs depois da expiração da receita médica</td>
        </tr>
      </tfoot>
    </table>

    <table style="width: 144mm; margin-left: 1mm;">
      <thead>
      <tr>
        <th>{{'FILA_REPORT_PICKUP_DATE' | translate}}</th>
        <th class="medicine-column">{{'FILA_REPORT_ARV_MEDS' | translate}}</th>
        <th>{{'FILA_REPORT_QTY' | translate}}</th>
        <th class="dosage-column">{{'FILA_REPORT_DOSAGE' | translate}}</th>
        <th>{{'FILA_REPORT_NEXT_PICKUP_DATE' | translate}}</th>
      </tr>
      </thead>
      <tbody >
      <tr ng-repeat="displacement in filaDisplacements2 track by $index" class="displacement-row">
        <td ng-if="displacement.dateRowSpanSize > 0" rowspan="{{displacement.dateRowSpanSize}}">{{displacement.date | date}}&nbsp;</td>
        <td>{{displacement.medicine}}&nbsp;</td>
        <td>{{displacement.quantity}}&nbsp;</td>
        <td>{{displacement.dosage}}&nbsp;</td>
        <td>{{displacement.nextDisplacement | date}}&nbsp;</td>
      </tr>
      </tbody>
    </table>

</div>
