<span class="label label-danger" ng-message="required">{{'ERROR_REQUIRED' | translate}}</span>
<span class="label label-danger" ng-message="minlength">{{'ERROR_TOO_SHORT' | translate}}</span>
<span class="label label-danger" ng-message="maxlength">{{'ERROR_TOO_LONG' | translate}}</span>
<span class="label label-danger" ng-message="email">{{'ERROR_INVALID_EMAIL' | translate}}</span>
<span class="label label-danger" ng-message="pattern">{{'ERROR_INVALID_FORMAT' | translate}}</span>
<span class="label label-danger" ng-message="available">{{'ERROR_ALREADY_IN_USE' | translate}}</span>
<span class="label label-danger" ng-message="max">{{'ERROR_TOO_BIG' | translate}}</span>
<span class="label label-danger" ng-message="min">{{'ERROR_TOO_SMALL' | translate}}</span>
<span class="label label-danger" ng-message="parse">{{'ERROR_INVALID_FORMAT' | translate}}</span>
<span class="label label-danger" ng-message="date">{{'ERROR_INVALID_DATE' | translate}}</span>
