<div class="row bg-primary btn-lg content-border"><!-- top header -->
    <div class="col-md-6"><!-- logo -->
        <img src="../../images/OpenMRS_logo.png" class="img-responsive inline-align" alt="logo image">
    </div>
    <div class="col-md-6 go-to-right" ng-hide="showMenu"><!-- welcome and menu -->
        <div class="inline-align">
          {{'LOGIN_LABEL_LOGGEDIN_KEY' | translate}} {{ currentUser.person.preferredName.display }}
        </div>
        <div  class="inline-align"><!-- menu bar -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                        id="topMenu" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="topMenu">
                    <li><a ng-href="/home"><span class="glyphicon glyphicon-home"></span> {{'COMMON_HEADER_MENU_HOME' | translate}}</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{'COMMON_HEADER_MENU_PROFILE' | translate}}</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> {{'COMMON_HEADER_MENU_SUPPORT' | translate}}</a></li>
                    <li><a log-out><span class="glyphicon glyphicon-off"></span> {{'COMMON_HEADER_MENU_LOGOUT' | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- top header -->
