<div class="row lab-tests">
  <div class="col-sm-6 test-order-list">
    <test-order-result-list test-order-results="vm.testOrderResults"
                            on-select-test-order-result="vm.selectTestOrderResult(testOrderResult)"></test-order-result-list>
  </div>
  <div class="col-sm-6 test-order-details">
    <test-order-result-details test-order-result="vm.selectedTestOrder"
                               reload-test-order-result="vm.reloadTestOrderResult(vm.selectedTestOrder)">
    </test-order-result-details>
  </div>

  <p class="text-center" ng-if="vm.testOrderResults.length === 0">{{ 'NO_LIST_ITEMS' | translate}}</p>
</div>
