<form class="item-form" name="form" ng-submit="vm.onSubmit({item: vm.item, result: vm.$item.value});">

  <div class="form-group" ng-class="{'has-error': vm.hasFocus && form.$dirty && !form.$valid}">
    <label class="col-sm-4" for="value">{{vm.$item.testOrder.concept.display}}</label>

    <div class="col-sm-3 text-right">
      <input class="form-control input-lg" id="value" name="value" type="number"
             ng-model="vm.$item.value"
             ng-if="vm.$item.testOrder.concept.datatype.display === 'Numeric'"
             ng-focus="vm.hasFocus = true;"
             ng-blur="vm.hasFocus = false;"
             required>

      <select class="form-control input-lg" id="value" name="value" ng-model="vm.$item.value"
              ng-options="a.uuid as a.display for a in vm.$item.testOrder.concept.answers"
              ng-if="vm.$item.testOrder.concept.datatype.display === 'Coded'"
              ng-focus="vm.hasFocus = true;"
              ng-blur="vm.hasFocus = false;"
              required>

      </select>
    </div>

    <div class="col-sm-5" style="border-left: 1px #ccc solid;">
      <button class="btn btn-lg btn-primary" type="submit"
              ng-disabled="!form.$dirty || !form.$valid">
        <i class="glyphicon glyphicon-floppy-disk"></i> {{ 'SAVE' | translate }}
      </button>

      <button class="btn btn-lg btn-danger" type="button" ng-click="vm.onRemove({item: vm.item});"
              ng-disabled="vm.item.value === ''">
        <i class="glyphicon glyphicon-remove"></i> {{ 'REMOVE' | translate }}
      </button>
    </div>

  </div>
</form>
