<div class="row bg-info-border content-border border-rouded">
  <div id="status-buttons" class="text-center">
    <a style="cursor: pointer;" ng-click="vm.setCurrentStep(step)" ng-repeat="step in vm.stepControllers">
      <span class="label label-primary" ng-class="step.getClass()">{{ $index + 1 }}</span>{{ step.title }}
    </a>
  </div>
</div>

<div class="panel panel-primary content-border-margin">
  <div class="panel-heading">
    <h3 class="panel-title">{{ vm.getCurrentStep().title }}</h3>
  </div>
  <ng-transclude></ng-transclude>
</div>

<div class="row bg-info-border content-border border-rouded-bottom">
  <div class="pull-right">
    <button id="previous-step" type="button" class="btn btn-default btn-lg" ng-show="!vm.isFirstStep()" ng-click="vm.stepBackwards();">
      <span class="glyphicon glyphicon glyphicon-step-backward"></span>
      <span class="button-label">{{'PREVIOUS_STEP' | translate}}</span>
    </button>
    <button id="next-step" type="button" class="btn btn-default btn-lg" ng-show="!vm.isLastStep()" ng-click="vm.stepForward();">
      <span class="glyphicon glyphicon glyphicon-step-forward"></span>
      <span class="button-label">{{'NEXT_STEP' | translate}}</span>
    </button>

    <!-- Save button for when all is OK -->
    <button id="confirm" type="button" class="btn btn-primary btn-lg" ng-show="vm.isLastStep() && vm.allStepsAreValid()" ng-click="vm.save();">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      <span class="button-label">{{'SAVE' | translate}}</span>
    </button>

    <!-- Save button for when there is a validation problem on one of the steps -->
    <button id="confirm" type="button" class="btn btn-primary btn-lg" ng-show="vm.isLastStep()  && !vm.allStepsAreValid()" poc-confirm-dialog="'{{ 'SOME_STEPS_HAVE_VALIDATION_PROBLEMS_CLICK_OK_TO_GO_TO_FIRST_INVALID_STEP' | translate}}'"
      on-confirm="vm.goToFirstInvalidStep()">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      <span class="button-label">{{'SAVE' | translate}}</span>
    </button>
  </div>
</div>
