<div class="content-border-margin">
  <div class="row">
    <p class="col-sm-4"><b>{{'COMMON_CLINICAL_SERVICE_HEADER_FORM'| translate}}</b></p>
    <p class="col-sm-4"><b>{{'COMMON_CLINICAL_SERVICE_HEADER_LAST'| translate}}</b></p>
    <p class="col-sm-2"><b>{{'COMMON_CLINICAL_SERVICE_HEADER_CREATOR'| translate}}</b></p>
    <p class="col-sm-2"><b>{{'COMMON_CLINICAL_SERVICE_HEADER_ACTIONS'| translate}}</b></p>
  </div>

  <div ng-if="!vm.getVisibleServices()">
    <p class="text-center">{{'LOADING' | translate}}</p>
  </div>

  <div ng-if="vm.getVisibleServices().length === 0">
    <p class="text-center">{{ 'NO_LIST_ITEMS' | translate}}</p>
  </div>

  <div ng-repeat="service in vm.getVisibleServices()">
    <div class="list-group-item">
      <div class="row">
        <div class="col-sm-4">
          <p>{{service.label | translate }}</p>
        </div>
        <div class="col-sm-4">
          <p ng-if="service.lastEncounterForService">
            {{service.lastEncounterForServiceDate | date:'short'}}
          </p>
          <p ng-if="!service.lastEncounterForService">
            {{'COMMON_NONE'| translate}}
          </p>
        </div>
        <div class="col-sm-2">
          <p ng-if="service.lastEncounterForService">
            {{service.lastEncounterForService.provider.display}}
          </p>
          <p ng-if="!service.lastEncounterForService">
            {{'COMMON_NONE'| translate}}
          </p>
        </div>
        <div class="col-sm-2 go-to-right">

          <poc-authorize privilege="vm.getPrivilege('Write', service)">
            <button ng-if="vm.patientCheckedIn && vm.canAdd(service)" class="btn btn-primary btn-lg" type="button"
                    ng-click="vm.linkServiceAdd(service)">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="button-label">{{'ADD' | translate}}</span>
            </button>
          </poc-authorize>

          <poc-authorize privilege="vm.getPrivilege('Read', service)">
            <button ng-if="service.encountersForService.length > 0" class="btn btn-default btn-lg" type="button"
                    ng-click="vm.toggleListEncounters(service)">
              <span class="glyphicon glyphicon-list-alt"></span>
              <span class="button-label">{{'LIST' | translate}}</span>
            </button>
          </poc-authorize>

        </div>
      </div>
      <div class="row" ng-class="{'bg-warning': service.list}" ng-show="service.list">
        <div class="col-sm-12">
          <table class="table">
            <tbody>
            <tr ng-repeat="encounter in service.encountersForService">
              <td>
                <button class="btn btn-primary btn-lg" type="button" ng-click="vm.linkServiceDisplay(service, encounter)">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span ng-if="encounter.markedOnDate" class="button-label">{{'COMMON_DATE'| translate}}: {{encounter.markedOnDate| date:'short'}}</span>
                  <span ng-if="!encounter.markedOnDate" class="button-label">{{'COMMON_DATE'| translate}}: {{encounter.encounterDatetime| date:'short'}}</span>
                </button>
              </td>
              <td>
                <p>
                  <b>{{'COMMON_CLINICAL_SERVICE_HEADER_CREATOR'| translate}}:</b> {{encounter.provider.display}}
                </p>
              </td>
              <td class="go-to-right">

                <span ng-if="vm.patientCheckedIn" ng-show="!encounter.delete">
                  <poc-authorize privilege="vm.getPrivilege('Edit', service)">
                    <button type="button" class="btn btn-default btn-lg" ng-click="vm.linkServiceEdit(service, encounter)">
                      <span class="glyphicon glyphicon-pencil"></span>
                      <span class="button-label">{{'EDIT' | translate}}</span>
                    </button>
                  </poc-authorize>
                </span>

                <poc-authorize ng-if="vm.patientCheckedIn" privilege="vm.getPrivilege('Delete', service)">
                  <poc-confirm-button class="btn btn-danger btn-lg" ng-click="vm.toggleDelete(encounter)"
                                      on-confirm="vm.deleteClinicalService(service, encounter.uuid);">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    <span class="button-label">{{'REMOVE' | translate}}</span>
                  </poc-confirm-button>
                </poc-authorize>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
