<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_IDENTIFIERS' | translate}}</h3>
    </div>

  <patient-identifiers patient="vm.patient"></patient-identifiers>
</div>
<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_DEMOGRAPHICS' | translate}}</h3>
    </div>

  <patient-demographics patient="vm.patient"></patient-demographics>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_ADDRESS' | translate}}</h3>
    </div>

  <patient-address patient="vm.patient"></patient-address>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_OTHERS' | translate}}</h3>
    </div>

  <patient-other patient="vm.patient"></patient-other>
</div>
<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_HIV_TEST' | translate}}</h3>
    </div>

  <patient-hiv-test patient="vm.patient"></patient-hiv-test>
</div>
