<form name="vm.form" class="form-horizontal">
  <div class="panel panel-primary content-border-margin">

    <div class="panel-heading">
      <h3 class="panel-title">{{'PATIENT_INFO_NAME' | translate}}</h3>
    </div>

    <div class="panel-body" ng-controller="SimilarPatientsController as similar">

      <div class="form-group form-group-lg"
           ng-class="{'has-error': vm.form.givenName.$invalid && vm.shouldShowMessages()}">
        <label for="givenName" class="col-sm-2 control-label">{{'PATIENT_INFO_NAME' | translate}}:<span
          class="asterick">*</span></label>
        <div class="col-sm-10">
          <div ng-messages for="vm.form.givenName.$error"
               ng-show="vm.shouldShowMessages();">
            <div ng-messages-include="../common/application/views/error-messages.html"></div>
          </div>
          <input type="text" class="form-control keyboard-in" id="givenName" name="givenName"
                 ng-model="vm.patient.givenName"
                 placeholder="{{'PATIENT_INFO_NAME_PLACEHOLDER' | translate}}" title="Enter patient's first name."
                 my-autocomplete source="vm.getAutoCompleteList" response-map="vm.getDataResults"
                 data-item-type="personName" ng-pattern="/^[a-zÀ-ú ,.'-]+$/i" ng-maxlength="50" maxlength="50"
                 required>
        </div>
      </div>

      <div class="form-group form-group-lg"
           ng-class="{'has-error': vm.form.patientSurname.$invalid && vm.shouldShowMessages()}">
        <label for="patientSurname" class="col-sm-2 control-label">{{'PATIENT_INFO_SURNAME' | translate}}:<span
          class="asterick">*</span></label>
        <div class="col-sm-10">
          <div ng-messages for="vm.form.patientSurname.$error"
               ng-show="vm.shouldShowMessages();">
            <div ng-messages-include="../common/application/views/error-messages.html"></div>
          </div>
          <input type="text" class="form-control keyboard-in" id="patientSurname" name="patientSurname"
                 ng-model="vm.patient.familyName"
                 placeholder="{{'PATIENT_INFO_SURNAME_PLACEHOLDER' | translate}}" title="Enter patient's last name."
                 ng-pattern="/^[a-zÀ-ú ,.'-]+$/i" ng-maxlength="50" maxlength="50" required>
        </div>
      </div>

      <div class="form-group form-group-lg" ng-repeat="attr in vm.patientAttributes">

        <div class="col-sm-2 control-label">
          <label for="{{attr.name}}">{{attr.name}}
            <span class="asterick" ng-show="attr.required">*</span></label>
        </div>

        <div class="col-sm-10" ng-class="{'has-error': vm.form[attr.name].$invalid && vm.shouldShowMessages()}">

          <div ng-messages for="vm.form[attr.name].$error" ng-show="vm.shouldShowMessages();">
            <div ng-messages-include="../common/application/views/error-messages.html"></div>
          </div>

          <person-attribute-input person="vm.patient" attribute="attr"></person-attribute-input>

        </div>
      </div>

      <div id="ng-similarpatients">
        <div ng-show="similar.similarPatients.length"><h2>{{ 'SIMILAR_PATIENTS' | translate }}</h2></div>
        <div ng-show="similar.similarPatients.length">

          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{'SEARCH_PATIENT_NID' | translate}}</th>
              <th>{{'SEARCH_PATIENT_FIRSTNAME' | translate}}</th>
              <th>{{'SEARCH_PATIENT_LASTNAME' | translate}}</th>
              <th>{{'PATIENT_INFO_OTHER_NAMES' | translate}}</th>
              <th>{{'SEARCH_PATIENT_GENDER' | translate}}</th>
              <th>{{'SEARCH_PATIENT_AGE' | translate}}</th>
              <th>{{'SEARCH_PATIENT_BIRTHDATE' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in similar.similarPatients"
                ng-click="similar.loadPatientToDashboard(vm.patient)">
              <td>{{patient.identifier}}</td>
              <td>{{patient.givenName}}</td>
              <td>{{patient.familyName}}</td>
              <td>{{patient.middleName}}</td>
              <td>{{patient.gender}}</td>
              <td>{{patient.age.years}}</td>
              <td>{{patient.birthdate | date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
