<!-- //TODO: Add Portuguese validation messages-->
<span class="label label-danger" ng-message="required">This field is required</span>
<span class="label label-danger" ng-message="minlength">This field is too short</span>
<span class="label label-danger" ng-message="maxlength">This field is too long</span>
<span class="label label-danger" ng-message="email">This needs to be a valid email</span>
<span class="label label-danger" ng-message="pattern">This field format is incorrect</span>
<span class="label label-danger" ng-message="available">This field value is already in use</span>
<span class="label label-danger" ng-message="max">The value is too big for this field</span>
<span class="label label-danger" ng-message="min">The value is too small for this field</span>
