<ul class="list-group content-border-margin-regular"
    ng-repeat="formField in formPart.fields" ng-init="fieldMeta = payload.form.fields[formField.id]">
    <li class="list-group-item"
        ng-if="fieldMeta.fieldConcept.fieldType.display === 'Concept'" ng-init="fieldValidity = getFieldValidity(formField.id)">
        <div class="row">
        <label class="col-sm-4">{{fieldMeta.field.name}}: </label>
        <div class="col-sm-8">
            <span class="label label-danger" ng-if="!fieldValidity">
                This field was never visited, please visit this field before save
            </span>
            <span class="label label-danger" ng-if="fieldValidity && !fieldValidity.valid">
                This field didn't pass validation rules
            </span>
            <div ng-if="fieldMeta.fieldConcept.concept.datatype.display === 'Text'">
                {{fieldMeta.value}}
            </div>
            <div ng-if="fieldMeta.fieldConcept.concept.datatype.display === 'Numeric'">
                {{fieldMeta.value}}
            </div>
            <div ng-if="fieldMeta.fieldConcept.concept.datatype.display === 'Date'">
                {{fieldMeta.value | date:"MM/dd/yyyy"}}
            </div>
            <div ng-if="fieldMeta.fieldConcept.concept.datatype.display === 'Datetime'">
                {{fieldMeta.value | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
            <div ng-if="fieldMeta.fieldConcept.concept.datatype.display === 'Coded'">
                <div ng-if="fieldMeta.fieldConcept.selectMultiple" ng-repeat="answer in fieldMeta.fieldConcept.concept.answers">
                    <div ng-if="fieldMeta.value[answer.uuid] !== 'undefined'" ng-init="value = stringToJson(fieldMeta.value[answer.uuid])">
                        {{value.display}},&nbsp;
                    </div>
                </div>
                <div ng-if="!fieldMeta.fieldConcept.selectMultiple">
                    <div ng-if="fieldMeta.fieldConcept.concept.answers.length === 2">
                        <div ng-if="isTrueFalseQuestion(fieldMeta.fieldConcept.concept.answers)">
                            {{stringToJson(fieldMeta.value).display}}
                        </div>
                        <div ng-if="!isTrueFalseQuestion(fieldMeta.fieldConcept.concept.answers)">
                            {{fieldMeta.value.display}}
                        </div>
                    </div>
                    <div ng-if="fieldMeta.fieldConcept.concept.answers.length !== 2">
                        {{fieldMeta.value.display}}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </li>
</ul>