<div ng-repeat="part in vm.formWizard.formInfo.parts" class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{part.label | translate}}</h3>
    </div>

    <field-read payload="vm.formWizard.formPayload" form-part="part"></field-read>

</div>

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button type="button" class="btn btn-primary btn-lg" ng-click="vm.formWizard.save()">
        <span class="glyphicon glyphicon glyphicon glyphicon-floppy-disk"></span>
        <span class="button-label">{{'SAVE' | translate}}</span>
    </button>
</div>
