<patient-header patient="vm.patient"></patient-header>

<div class="row bg-info-border bg-info content-border border-rouded-top">
  <div class="header-text-lg">
    <b>{{vm.formInfo.label | translate}}</b>
  </div>
</div>


<div ng-repeat="part in vm.formInfo.parts" class="panel panel-primary content-border-margin">
  <div class="panel-heading">
    <h3 class="panel-title">{{part.label | translate}}</h3>
  </div>

  <field-read payload="vm.formPayload" form-part="part" displaying="true"></field-read>

</div>

<div class="row bg-info-border content-border border-rouded go-to-right">
  <button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-print"></span>
    <span class="button-label">{{'PRINT' | translate}}</span>
  </button>
</div>

<div class="row bg-info-border content-border border-rouded-bottom go-to-left">
  <button type="button" class="btn btn-warning btn-lg" ng-click="vm.linkDashboard()">
    <span class="glyphicon glyphicon-minus-sign"></span>
    <span class="button-label">{{'CANCEL' | translate}}</span>
  </button>
</div>
