<patient-header patient="patientCommon.patient"></patient-header>

<div class="row bg-info-border content-border border-rouded-bottom go-to-right">
  <button type="button" class="btn btn-warning btn-lg" ng-click="patientCommon.linkDashboard()">
    <span class="glyphicon glyphicon-step-backward"></span>
    <span class="button-label">{{'PREVIOUS_STEP' | translate}}</span>
  </button>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addVisitModal" ng-click="patientCommon.print()">
    <span class="glyphicon glyphicon-print"></span>
    <span class="button-label">{{'PRINT' | translate}}</span>
  </button>
</div>

<div class="row bg-info-border content-border border-rouded-top"><!-- program header controls -->

  <uib-tabset active="active">

    <uib-tab index="0" heading="{{'PATIENT_INFO_IDENTIFIERS' | translate}}">
      <div ng-include src="'../patient-details/views/patient-identifiers.html'"></div>
    </uib-tab>

    <uib-tab index="1" heading="{{'PATIENT_INFO_DEMOGRAPHICS' | translate}}">
      <div ng-include src="'../patient-details/views/patient-demographics.html'"></div>
    </uib-tab>

    <uib-tab index="2" heading="{{'PATIENT_INFO_ADDRESSES' | translate}}">
      <div ng-include src="'../patient-details/views/patient-addresses.html'"></div>
    </uib-tab>

    <uib-tab index="3" heading="{{'PATIENT_INFO_OTHERS' | translate}}">
      <div ng-include src="'../patient-details/views/patient-attributes.html'"></div>
    </uib-tab>

    <uib-tab index="4" heading="{{'PATIENT_INFO_DEATH' | translate}}">
      <div ng-include src="'../patient-details/views/patient-death.html'"></div>
    </uib-tab>

  </uib-tabset>

</div>
