<patient-header patient="patient" display-actions="true" on-patient-deceased="reload();"></patient-header>

<visit-header patient="patient"></visit-header>

<div class="row bg-info-border content-border border-rouded" ng-init="getAlerts()" ng-show="{{flags.length !== 0}}">

    <span class="label label-warning content-border-margin-regular-sides" ng-repeat="flag in flags"> {{flag.name | translate}}</span>
</div>

<div ng-include src="'views/patient-state.html'" ng-controller="PatientHeaderController"></div>

<div class="bg-info-border content-border border-rouded">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="dashboard.summary">{{'CLINIC_PATIENT_CHART_SUMMARY' | translate}}</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="dashboard.chart">{{'CLINIC_PATIENT_CHARTS' | translate}}</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="dashboard.consultation">{{'CLINIC_PATIENT_CONSULTATION' | translate}}</a></li>
        <li ng-if="hasVisitToday" role="presentation" ui-sref-active="active"><a ui-sref="dashboard.prescriptions">{{'CLINIC_PATIENT_PRESCRIPTIONS' | translate}}</a></li>
        <li ng-if="hasLabOrderPrivilege" role="presentation" ui-sref-active="active"><a ui-sref="dashboard.laboratory">{{'LAB_ORDER' | translate}}</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="dashboard.current">{{'CLINIC_PATIENT_CURRENT_STATUS' | translate}}</a></li>
    </ul>
    <div ui-view=""></div>
</div>
