
  <div class="row bg-info-border content-border border-rouded" ng-if="vm.observations.length !== 0"><!--patient header -->
    <div class="col-sm-6 panel-marginless-bottom">
      <div ng-repeat="observation in vm.observations | limitTo: vm.observations.length: vm.observations.length /2">
          <p ng-class="capitalize"><strong> {{observation.label | translate}}:</strong>
            <span class="label label-default">{{observation.value}}</span> {{'COMMON_FROM' | translate }} {{observation.date | date}}
          </p>
      </div>
    </div>
    <div class="col-sm-6 panel-marginless-bottom">
      <div ng-repeat="observation in vm.observations | limitTo: vm.observations.length / 2: 0">
          <p ng-class="capitalize"><strong> {{observation.label | translate}}:</strong>
            <span class="label label-default">{{observation.value}}</span> {{'COMMON_FROM' | translate }} {{observation.date | date}}
          </p>
      </div>
    </div>
  </div>


<!--patient header -->
