<div class="row content-border-margin-regular">

  <div class="form-inline">
    <div class="form-group form-group-lg">
      <label for="displayLimit">{{"COMMON_DISPLAY" | translate }}:</label>
      <select id="displayLimit" name="displayLimit" class="form-control" ng-model="vm.displayLimit"
              ng-options="item.display for item in vm.displayLimits track by item.id" ng-change="vm.updateDisplayLimit(item)">
      </select>
    </div>
  </div>

    <div class="col-sm-6">
      <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivVisit=!showDivVisit">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivVisit, 'glyphicon glyphicon-chevron-up': !showDivVisit}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_VISIT_HISTORY' | translate}}</h3>
            </div>
        <div class="list-group" ng-repeat="visit in vm.visits" ng-hide="showDivVisit">
                <div class="bg-info content-border-padding-li">
                    {{'CLINIC_PATIENT_VISIT' | translate}} {{'COMMON_ON' | translate}} {{visit[0].encounterDatetime | date:"MMM d, y"}}
                </div>
                <div class="list-group-item" ng-repeat="encounter in visit">
                  <div>{{encounter.encounterType.display}} {{'COMMON_ON' | translate}} {{encounter.encounterDatetime |
                    date:"MMM d, y"}},
                        {{'COMMON_BY' | translate}}: {{encounter.provider.display}}</div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivDiagnosis=!showDivDiagnosis">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivDiagnosis, 'glyphicon glyphicon-chevron-up': !showDivDiagnosis}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_DIAGNOSIS' | translate}}</h3>
            </div>
        	<table class="table" ng-hide="showDivDiagnosis">
                <tbody>
                    <tr ng-repeat="diagn in vm.diagnosis">
                        <td>{{diagn.concept.name.display}}</td>
                        <td>{{vm.isObject(diagn.value) ? diagn.value.display : diagn.value}}</td>
                        <td>{{'CLINIC_PATIENT_DIAGNOSED' | translate}} {{'COMMON_ON' | translate}} {{diagn.obsDatetime | date:"MMM d, y"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivICD10Diagnosis=!showDivICD10Diagnosis">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivICD10Diagnosis, 'glyphicon glyphicon-chevron-up': !showDivICD10Diagnosis}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_DIAGNOSIS_ICD10' | translate}}</h3>
            </div>
        	<table class="table" ng-hide="showDivICD10Diagnosis">
                <tbody>
                    <tr ng-repeat="diagn in vm.icdDiagnosis">
                        <td>{{vm.isObject(diagn.value) ? diagn.value.display : diagn.value}}</td>
                        <td>{{'CLINIC_PATIENT_DIAGNOSED' | translate}} {{'COMMON_ON' | translate}} {{diagn.obsDatetime | date:"MMM d, y"}}</td>
                        <td>{{'COMMON_BY' | translate}} {{diagn.encounter.provider.display}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

      <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivPrescriptions=!showDivPrescriptions">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivPrescriptions, 'glyphicon glyphicon-chevron-up': !showDivPrescriptions}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_PRESCRIPTIONS' | translate}}/{{'CLINIC_PATIENT_REGIMENS' | translate}}</h3>
            </div>
        <div class="list-group" ng-repeat="existingPrescription in vm.prescriptions" ng-hide="showDivPrescriptions">
                <div class="bg-info content-border-padding-li">
                    {{'CLINIC_PATIENT_PRESCRIBED' | translate}} {{'COMMON_ON' | translate}} {{existingPrescription.prescriptionDate | date:"MMM d, y"}}
                </div>
                <div class="list-group-item" ng-repeat="item in existingPrescription.prescriptionItems">
                    <span>
                        <strong>{{item.drugOrder.drug.display}}</strong>
                        <strong ng-if="item.regime">
                            ({{item.regime.display}}
                        </strong> : {{item.therapeuticLine.display}})-
                        {{item.drugOrder.dose}}
                        {{item.drugOrder.doseUnits.display}}, {{item.drugOrder.frequency.display}},
                        {{item.drugOrder.route.display}} - {{item.drugOrder.duration}}
                        {{item.drugOrder.durationUnits.display}}, {{item.dosingInstructions}}
                    </span>
                    <span ng-if="item.regime">
                        (<strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN'| translate}}:</strong> {{item.arvPlan.display}})
                    </span>
                    <span ng-if="item.isProphilaxy">
                        <strong>{{'CLINIC_PRESCRIPTION_PROPHYLAXIS_PLAN'| translate}}:</strong> {{item.prophilaxyPlan.display}}
                    </span>
                    <span ng-if="item.regime && item.interruptionReason">
                        <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_FOR'| translate}}:</strong> {{item.interruptionReason}}
                    </span>
                    <span ng-if="item.regime && item.changeReason">
                        <strong>{{'CLINIC_PRESCRIPTION_ARV_CHANGE_FOR'| translate}}:</strong> {{item.changeReason}}
                    </span>
                    <span>
                        <strong>
                            {{item.status | translate}}
                        </strong>
                    </span>
                </div>
            </div>
        </div>

      <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivVitals=!showDivVitals">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivVitals, 'glyphicon glyphicon-chevron-up': !showDivVitals}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_VITALS' | translate}}</h3>
            </div>
        <div class="list-group" ng-repeat="encounter in vm.vitals" ng-hide="showDivVitals">
                <div class="bg-info content-border-padding-li">
                    {{'CLINIC_PATIENT_CAPTURED' | translate}} {{'COMMON_ON' | translate}} {{encounter.encounterDatetime | date:"MMM d, y"}}
                </div>
                <div ng-repeat="obs in encounter.obs">
                    <div class="list-group-item">
                      {{obs.concept.name.display}}:
                        <span class="badge">{{vm.isObject(obs.value) ? obs.value.display : obs.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivLAB=!showDivLAB">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivLAB, 'glyphicon glyphicon-chevron-up': !showDivLAB}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_LAB' | translate}}</h3>
            </div>
        <div class="list-group" ng-repeat="visit in vm.labs" ng-hide="showDivLAB">
                <div class="bg-info content-border-padding-li">
                    {{'CLINIC_PATIENT_COLLECTED' | translate}} {{'COMMON_ON' | translate}} {{visit[0].encounterDatetime | date:"MMM d, y"}}
                </div>
                <div ng-repeat="encounter in visit">
                    <div ng-repeat="obs in encounter.obs">
                        <div ng-if="obs.groupMembers">
                            <div ng-repeat="member in obs.groupMembers">
                                <div class="list-group-item">
                                    {{obs.concept.name.display}} - {{member.concept.name.display}}:
                                    <span class="badge">{{vm.isObject(member.value) ? member.value.display : vm.filterDate(member)}}</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!obs.groupMembers">
                            <div class="list-group-item">
                              {{obs.concept.name.display}}:
                                <span class="badge">{{vm.isObject(obs.value) ? obs.value.display : vm.filterDate(obs)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary panel-marginless-sides"
               ng-click="showDivPharmacy=!showDivPharmacy">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivPharmacy, 'glyphicon glyphicon-chevron-up': !showDivPharmacy}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_PHARMACY_ARV' | translate}}</h3>
            </div>
            <div class="list-group" ng-repeat="visit in vm.pickups" ng-hide="showDivPharmacy">
                <div class="bg-info content-border-padding-li">
                        {{'CLINIC_PATIENT_DISPENSED' | translate}} {{'COMMON_ON' | translate}} {{visit[0].encounterDatetime | date:"MMM d, y"}}
                </div>
                <div ng-repeat="encounter in visit">
                    <div ng-repeat="obs in encounter.obs" class="list-group-item">
                          {{obs.concept.name.display}}:
                            <span class="badge">{{vm.isObject(obs.value) ? obs.value.display : vm.filterDate(obs)}}</span>
                    </div>
                </div>
            </div>
          </div>

          <div class="panel panel-primary panel-marginless-sides"
               ng-click="showDivPharmacyNew=!showDivPharmacyNew">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivPharmacyNew, 'glyphicon glyphicon-chevron-up': !showDivPharmacyNew}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_PHARMACY' | translate}}</h3>
            </div>

            <div class="list-group" ng-repeat="pickup in vm.newPickups" ng-hide="showDivPharmacyNew">
                <div class="bg-info content-border-padding-li">
                        {{'CLINIC_PATIENT_DISPENSED' | translate}} {{'COMMON_ON' | translate}} {{pickup.detetime | date:"MMM d, y"}}
                        {{'COMMON_BY' | translate}} {{pickup.provider.display}}
                </div>
                <div ng-repeat="item in pickup.items" class="list-group-item">
                    <span><strong>{{item.order.drug.display}}</strong> {{item.order.dose}}{{item.order.doseUnits.display}}</span>,
                    <span>{{'COMMON_QUANTITY' | translate}}: {{item.quantity.value}}</span>
                    <span ng-if="item.returnDate.value">| {{'COMMON_RETURN' | translate}} {{item.returnDate.value | date:"MMM d, y"}}</span>
                </div>
            </div>
          </div>

      <div class="panel panel-primary panel-marginless-sides"
           ng-click="showDivAllergies=!showDivAllergies">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivAllergies, 'glyphicon glyphicon-chevron-up': !showDivAllergies}" class="pull-right"></span><h3 class="panel-title">{{'CLINIC_PATIENT_ALLERGIES' | translate}}/{{'CLINIC_PATIENT_SIDE_EFFECTS' | translate}}</h3>
            </div>
        <div class="list-group" ng-repeat="encounter in vm.allergies" ng-hide="showDivAllergies">
                <div class="bg-info content-border-padding-li">
                    {{'CLINIC_PATIENT_DIAGNOSED' | translate}} {{'COMMON_ON' | translate}} {{encounter.encounterDatetime | date:"MMM d, y"}}
                </div>
                <div ng-repeat="obs in encounter.obs" class="list-group-item">
                    {{vm.isObject(obs.value) ? obs.value.display : obs.value}}
                </div>
            </div>
        </div>

        <div class="panel panel-primary panel-marginless-sides" ng-controller="ManageProgramController" ng-click="showDivPrograms=!showDivPrograms">
            <div class="panel-heading">
                <span ng-class="{'glyphicon glyphicon-chevron-down': showDivPrograms, 'glyphicon glyphicon-chevron-up': !showDivPrograms}" class="pull-right"></span><h3 class="panel-title">{{'COMMON_PROGRAM_ENROLLMENT_SUMMARY_TITLE' | translate}}</h3>
            </div>
            <div class="list-group" ng-if="hasPatientEnrolledToSomePrograms()" ng-repeat="program in patientAllPrograms" ng-hide="showDivPrograms">
                <div class="bg-info content-border-padding-li">
                    <span class="label label-success" ng-if="!program.dateCompleted">A</span>
                    <span class="label label-warning" ng-if="program.dateCompleted">P</span>
                    <span>{{program.display}}</span>
                    <span>{{'COMMON_PROGRAM_ENROLLMENT_ENROLLED_ON' | translate}}: ({{program.dateEnrolled | date:"MM/dd/yyyy"}})</span>
                    <span ng-if="program.dateCompleted">{{'COMMON_PROGRAM_ENROLLMENT_COMPLETED_ON' | translate}}: ({{program.dateCompleted | date:"MM/dd/yyyy"}})</span>
                </div>
              <div ng-if="hasValidProgramStateToShow(program.states)"
                   ng-repeat="state in program.states" class="list-group-item">
                    {{state.state.concept.display}}
                    <span>{{'COMMON_FROM' | translate}} ({{state.startDate | date:"MM/dd/yyyy"}})</span>
                    <span ng-if="state.endDate">
                        {{'COMMON_TO' | translate}} {{state.endDate | date:"MM/dd/yyyy"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
