<div ng-hide="nopatientState && noWHOStage">
  <div class="row bg-info-border content-border border-rouded" ng-show="!nopatientState || !noWHOStage"><!--patient header -->
    <div class="col-sm-4 panel-marginless-bottom" ng-show="!nopatientState">
      <div ng-repeat="patientState in patientStates">
        <div ng-show="patientState.result">
          <p ng-class="capitalize"><strong> {{patientState.exam}} :</strong>
            <span class="label label-danger">{{patientState.result}}
              </span> {{'COMMON_FROM' | translate }} {{labDate | date }}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-8 panel-marginless-bottom" ng-show="!noWHOStage">
      <div ng-repeat="encounter in patientPrescription">
        <p ng-repeat="obs in encounter.obs ">
          <strong> {{obs.concept.name.display | translate }} : </strong>
          <span ng-show="obs.value.display" class="label label-primary">{{obs.value.display | translate}}</span>
          <span ng-show="!obs.value.display" class="label label-primary">{{obs.value | translate}}</span>
          <span> {{'COMMON_FROM' | translate}} {{obs.obsDatetime | date }}</span>
        </p>
      </div>
    </div>
    </div>
  </div>

</div>


<!--patient header -->
