<div class="row content-border-margin-regular">
  <div class="clearfix ">
    <div class="panel panel-primary panel-marginless-sides" ng-init="initLabChart()">
      <div class="panel-heading">
        <h3 class="panel-title">{{'CLINIC_LAB_RESULTS' | translate}}</h3>
      </div>
      <div class="panel-body">
      <canvas id="line" class="chart chart-line" chart-data="labResultsdata" chart-labels="labResultslabels"
              chart-series="labResultsseries" chart-options="options" chart-colors="colors" legend="true">
      </canvas>
        </div>
    </div>
  </div>
</div>
