<div ng-include src="'../../common/patient/header/views/header.html'"></div><!--patient header -->

<div class="row bg-info-border content-border border-rouded-bottom go-to-right"><!-- patient header controls -->
    <button id="add_patient" type="button" class="btn btn-warning btn-lg" ng-click="linkSearch()">
        <span class="glyphicon glyphicon-step-backward"></span>
    </button>
    <button ng-controller="MovePatientActionController" id="transfer_patient" type="button" class="btn btn-warning btn-lg" ng-click="movePatientTo()">
        <span class="glyphicon glyphicon-share"></span>
    </button>
    <button id="detail_patient" type="button"
            class="btn btn-success btn-lg" ng-click="linkPatientDetail()">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
</div><!-- patient header controls -->

<div class="content-border-margin">
    <div class="panel panel-primary" ng-controller="ClinicalServiceController" >
        <div class="panel-heading">
            <h3 class="panel-title">{{'COMMON_CLINIC_SERVICES_TITLE'| translate}}</h3>
        </div>
        <clinical-services patient-uuid="patient.uuid"
                           services="clinicalServices"
                           service-forms="serviceForms"
                           has-visit-today="hasVisitToday"
                           today-visit="todayVisit"
                           on-add="linkServiceAdd(service)"
                           on-edit="linkServiceEdit(service, encounter)"
                           on-click="linkServiceDisplay(service, encounter)"></clinical-services>
    </div>
</div>
