<div ng-controller="VitalsController">
    <div class="row bg-info-border bg-info content-border border-rouded"><!-- header -->
        <div class="col-md-12 header-text-lg"><!-- last visit type and dates -->
            <img src="../../images/visit.png" class="img-responsive inline-align" width="24" height="24" alt="visit">
            {{'VITALS_LAST_VISIT'| translate}}: <span ng-if="lastVisit">{{lastVisit.visitType.name}}
                {{'COMMON_FROM' | translate}} {{lastVisit.startDatetime| date:'medium'}} to {{lastVisit.stopDatetime| date:'medium'}}</span>
            <span ng-if="!lastVisit">{{'COMMON_NONE'| translate}}</span>
        </div>
        <div class="col-md-12"><!-- patient gender, age and phone number -->
            <div>
                <img src="../../images/ruler.png" class="img-responsive inline-align" width="24" height="24" alt="height">
                {{'VITALS_LAST_HEIGHT'| translate}}:
                <span ng-if="lastHeight">
                    <span class="label label-default">{{lastHeight.value}} cm</span> {{'COMMON_ON'| translate}} {{lastHeight.obsDatetime| date:'medium'}}
                </span>
                <span ng-if="!lastHeight">
                    {{'COMMON_NONE' | translate}}
                </span>
            </div>
            <div>
                <img src="../../images/bmi.png" class="img-responsive inline-align" width="24" height="24" alt="height">
                {{'VITALS_LAST_BMI'| translate}}:
                <span ng-if="lastBmi">
                    <span class="label label-default">{{lastBmi.value}}</span> {{'COMMON_ON'| translate}} {{lastBmi.obsDatetime| date:'medium'}}
                </span>
                <span ng-if="!lastBmi">
                    {{'COMMON_NONE' | translate}}
                </span>
            </div>
        </div>
    </div><!-- header -->
</div>
