<div class="modal fade" id="cancelPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="cancelPrescriptionModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelPrescriptionModalLabel">{{'PHARMACY_CANCEL_PRESCRIPTION' | translate}} :</h4>
              <span>
                <strong>{{vm.prescriptionItemToCancel.drugOrder.drug.display}}</strong>
                <strong ng-if="vm.prescriptionItemToCancel.regime">
                    ({{vm.prescriptionItemToCancel.regime.display}})
                </strong>-
                {{vm.prescriptionItemToCancel.drugOrder.dose}}
                {{vm.prescriptionItemToCancel.drugOrder.doseUnits.display}}, {{vm.prescriptionItemToCancel.drugOrder.frequency.display}},
                {{vm.prescriptionItemToCancel.drugOrder.route.display}} - {{vm.prescriptionItemToCancel.drugOrder.duration}}
                {{vm.prescriptionItemToCancel.drugOrder.durationUnits.display}}, {{vm.prescriptionItemToCancel.dosingInstructions}}
            </span>
            </div>
            <form class="form-horizontal" name="cancelPrescriptionForm" novalidate>

                <div class="modal-body content-border-margin">
                    <div class="form-group form-group-lg"
                         ng-class="{'has-error': cancelPrescriptionForm.$submitted && cancelPrescriptionForm.$invalid}">
                        <label class="control-label col-sm-3">{{'PHARMACY_CANCEL_PRESCRIPTIONS_REASON' | translate}}:</label>
                      <div class="col-sm-9" ng-hide="vm.prescriptionItemToCancel.drugOrder.action === 'NEW' ">
                        <div ng-messages for="cancelPrescriptionForm.cancelationReasonSelected.$error"
                             ng-messages-include="../poc-common/form-display/views/error-messages.html"
                             ng-show="cancelPrescriptionForm.$submitted || cancelPrescriptionForm.cancelationReasonSelected.$touched">
                        </div>
                        <select name="cancelationReasonSelected" class="form-control" ng-model="vm.cancelationReasonSelected"
                                ng-options="reason.display for reason in vm.fieldModels.interruptedReason.model.answers"
                                ng-required="vm.prescriptionItemToCancel.drugOrder.action === 'REVISE' ">
                          <option></option>
                        </select>
                      </div>
                      <div class="col-sm-9" ng-hide="vm.prescriptionItemToCancel.drugOrder.action === 'REVISE' ">
                        <div ng-messages for="cancelPrescriptionForm.cancelationReasonTyped.$error"
                             ng-messages-include="../poc-common/form-display/views/error-messages.html"
                             ng-show="cancelPrescriptionForm.$submitted || cancelPrescriptionForm.cancelationReasonTyped.$touched">
                        </div>
                        <input type="text"
                               name="cancelationReasonTyped"
                               ng-model="vm.cancelationReasonTyped"
                               class="form-control keyboard-in"
                               ng-required="vm.prescriptionItemToCancel.drugOrder.action === 'NEW' "
                               ng-minlength="10"
                               ng-focus="true">
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-lg" ng-click="vm.closeCancellationModal(cancelPrescriptionForm)">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                    <button type="submit"  ng-click="vm.cancelOrStop(cancelPrescriptionForm, vm.prescriptionItemToCancel)"
                            class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
