<div class="row content-border-margin-regular">
    <div class="col-sm-5">

        <div class="alert alert-info alert-dismissible content-border-margin" role="alert" ng-show="vm.hasServiceToday">
            <strong>{{'COMMON_MESSAGE_INFO_ACTION_COMPLETED_TODAY'| translate}}</strong>
        </div>

        <div ng-if="!vm.hasServiceToday">

          <div class="panel panel-primary panel-marginless-sides">
            <div class="panel-heading">
              <h3 class="panel-title">
                {{'PRESCRIPTION_DATE' | translate}}
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="form-group form-group-lg">
                  <label for="prescriptionDate" class="col-sm-3 control-label">
                    {{'PRESCRIPTION_DATE' | translate}}:
                  </label>
                  <div class="col-sm-9">
                    <input date-time format="d MMM y" min-view="date" ng-model="vm.prescriptionDate" id="prescriptionDate"
                           type="text" class="form-control keyboard-in"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary panel-marginless-sides">
            <div class="list-group">
              <div class="list-group-item list-group-item-success">
                <checkbox largest
                          name="drugType"
                          ng-model="vm.order.isArv">
                </checkbox> Create ARV prescription item?
              </div>
            </div>
          </div>

          <div ng-include src="'../common/prescription/views/prescription-arv.html'"></div>

          <div class="panel panel-primary panel-marginless-sides">
            <div class="panel-heading">
              <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_DRUG'| translate}}</h3>
            </div>
            <div class="panel-body">
              <form name="prescriptionForm" class="form-horizontal" autocomplete="off">
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.drug.$invalid && vm.showMessages}" ng-show="!vm.order.isArv">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DRUG'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.drug.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <input type="text"
                           name="drug"
                           ng-model="vm.order.drug"
                           uib-typeahead="drug as drug.display for drug in vm.getDrugs($viewValue)"
                           class="form-control keyboard-in"
                           ng-required="true"
                           ng-focus="vm.checkDrugType(vm.order.drug)">

                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.arvDrug.$invalid && vm.showMessages}" ng-show="vm.order.isArv">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DRUG'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.arvDrug.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <select name="arvDrug" class="form-control" ng-model="vm.order.drug"
                            ng-options="arvDrug.display for arvDrug in vm.arvDrugs" required>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.doseAmount.$invalid && vm.showMessages}">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DOSE'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-3">
                    <div ng-messages for="prescriptionForm.doseAmount.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <input name="doseAmount" type="number" class="form-control keyboard-in"
                           ng-model="vm.order.doseAmount"
                           placeholder="{{'CLINIC_PRESCRIPTION_DOSE' | translate}}"
                           required>
                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.dosingUnits.$invalid && vm.showMessages}">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_UNITS'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.dosingUnits.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <select name="dosingUnits" class="form-control" ng-model="vm.order.dosingUnits"
                            ng-options="unit.display for unit in vm.fieldModels.dosingUnits.model.answers track by unit.uuid" required>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.dosgeFrequency.$invalid && vm.showMessages}">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_POSOLOGY'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.dosgeFrequency.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <select name="dosgeFrequency" class="form-control" ng-model="vm.order.dosgeFrequency"
                            ng-options="frequency.display for frequency in vm.fieldModels.dosgeFrequency.model.answers track by frequency.uuid" required>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.drugRoute.$invalid && vm.showMessages}">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_ROUTE'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.drugRoute.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <select name="drugRoute" class="form-control" ng-model="vm.order.drugRoute"
                            ng-options="route.display for route in vm.fieldModels.drugRoute.model.answers track by route.uuid" required>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.duration.$invalid && vm.showMessages}">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_DURATION'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-3">
                    <div ng-messages for="prescriptionForm.duration.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <input name="duration" type="number" class="form-control keyboard-in"
                           ng-model="vm.order.duration"
                           placeholder="{{'CLINIC_PRESCRIPTION_DURATION' | translate}}"
                           required>
                  </div>
                  <div class="col-sm-6"
                       ng-class="{'has-error': prescriptionForm.durationUnits.$invalid && vm.showMessages}">
                    <div ng-messages for="prescriptionForm.durationUnits.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <select name="durationUnits" class="form-control" ng-model="vm.order.durationUnits"
                            ng-options="durationUnit.display for durationUnit in vm.fieldModels.durationUnits.model.answers track by durationUnit.uuid" required>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-group form-group-lg"
                     ng-class="{'has-error': prescriptionForm.dosingInstructions.$invalid && vm.showMessages}">
                  <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_RECOMMENDATION'| translate}}:<span class="asterick">*</span></label>
                  <div class="col-sm-9">
                    <div ng-messages for="prescriptionForm.dosingInstructions.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="vm.showMessages"></div>
                    <select name="dosingInstructions" class="form-control" ng-model="vm.order.dosingInstructions"
                            ng-options="instruction.display for instruction in vm.fieldModels.dosingInstructions.model.answers track by instruction.uuid" required>
                      <option></option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer go-to-right">
              <button class="btn btn-default btn-lg" type="button" ng-click="vm.reset(prescriptionForm)">
                <span class="glyphicon glyphicon-erase"></span>
              </button>
              <button class="btn btn-primary btn-lg" type="button" ng-click="vm.add(prescriptionForm.$valid, prescriptionForm)"
                      ng-disabled="vm.hasServiceToday">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>

        </div>


    </div>

    <div class="col-sm-7">
        <div class="panel panel-primary panel-marginless-sides" ng-show="vm.isProphylaxisInExistingPrescriptions()">
            <div class="list-group">
                <div class="list-group-item list-group-item-warning">
                    <spam><strong>ISONIAZID</strong> started at Nov 4, 2016</spam>
                    <button type="button" class="close btn-lg content-border-margin-regular-sides">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </button>
                </div>
            </div>
        </div>

      <div ng-if="!vm.hasServiceToday" class="panel panel-primary panel-marginless-sides">
        <div class="panel-heading">
          <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_NEW'| translate}}</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item list-group-item-success" ng-repeat="order in vm.listedPrescriptions">
            <span>
                <strong>{{order.drug.display}}</strong>
                <strong ng-if="order.isArv">
                    ({{order.regimen.display}}: {{order.therapeuticLine.display}})
                </strong>-
                {{order.doseAmount}}
                {{order.dosingUnits.display}}, {{order.dosgeFrequency.display}},
                {{order.drugRoute.display}} - {{order.duration}}
                {{order.durationUnits.display}}, {{order.dosingInstructions.display}}
            </span>
            <span ng-if="order.isArv && order.arvPlan">
                <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN'| translate}}:</strong> {{order.arvPlan.display}}
            </span>
            <span ng-if="order.drug.isProphilaxy">
                <strong>{{'CLINIC_PRESCRIPTION_PROPHYLAXIS_PLAN'| translate}}:</strong> {{order.prophilaxyPlan.display}}
            </span>
            <span ng-if="order.isPlanInterrupted && order.isArv">
                <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_FOR'| translate}}:</strong> {{order.interruptedReason.display}}
            </span>
            <span ng-if="order.changeReason">
                <strong>{{'CLINIC_PRESCRIPTION_ARV_CHANGE_FOR'| translate}}:</strong> {{order.changeReason.display}}
            </span>
            <span>
                <button type="button" class="close btn-lg content-border-margin-regular-sides"
                        ng-click="vm.remove(order)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="button" class="close btn-lg content-border-margin-regular-sides"
                        ng-click="vm.edit(order)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </span>
          </div>

        </div>
        <div class="panel-footer go-to-right" ng-show="vm.showNewPrescriptionsControlls">
          <button class="btn btn-danger btn-lg" type="button" ng-click="vm.removeAll()">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </button>
          <button class="btn btn-primary btn-lg" type="button" ng-click="vm.save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
        </div>
      </div>



        <div class="panel panel-primary panel-marginless-sides" ng-init="vm.initPrescriptions()">
            <div class="panel-heading">
                <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_PRESCRIBED'| translate}}</h3>
            </div>
            <div class="list-group" ng-repeat="existingPrescription in vm.encounterOrders">
                <div class="bg-info content-border-padding-li">
                    {{'CLINIC_PATIENT_PRESCRIBED' | translate}} {{'COMMON_ON' | translate}} {{existingPrescription.prescriptionDatetime | date:"MMM d, y"}}
                </div>
                <div class="list-group-item" ng-repeat="order in existingPrescription.orders">
                    <span>
                        <strong>{{order.drug.display}}</strong>
                        <strong ng-if="order.isArv">
                            (First Line)
                        </strong>-
                        {{order.doseAmount}}
                        {{order.dosingUnits.display}}, {{order.dosgeFrequency.display}},
                        {{order.drugRoute.display}} - {{order.duration}}
                        {{order.durationUnits.display}}, {{order.dosingInstructions.display}}
                    </span>
                    <span ng-if="order.isArv">
                        <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN'| translate}}:</strong> {{order.arvPlan.display}}
                    </span>
                    <span ng-if="order.drug.isProphilaxy">
                        <strong>{{'CLINIC_PRESCRIPTION_PROPHYLAXIS_PLAN'| translate}}:</strong> {{order.prophilaxyPlan.display}}
                    </span>
                    <span ng-if="order.isPlanInterrupted && order.isArv">
                        <strong>{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_FOR'| translate}}:</strong> {{order.interruptedReason.display}}
                    </span>
                    <span ng-if="order.changeReason">
                        <strong>{{'CLINIC_PRESCRIPTION_ARV_CHANGE_FOR'| translate}}:</strong> {{order.changeReason.display}}
                    </span>
                    <span>
                        <button type="button" class="close btn-lg content-border-margin-regular-sides">
                            <span class="glyphicon glyphicon-minus-circle"></span>
                        </button>
                        <button type="button" class="close btn-lg content-border-margin-regular-sides" ng-click="vm.refill(order)" ng-hide="vm.hasServiceToday">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

