<div class="panel panel-primary panel-marginless-sides" ng-if="vm.prescriptionItem.isArv">
    <div class="panel-heading">
        <h3 class="panel-title">{{'CLINIC_PRESCRIPTION_CURRENT_REGIMEN'| translate}}</h3>
    </div>
    <div class="panel-body">
        <div ng-form="prescriptionForm" class="form-horizontal">
            <!-- Therapeutic Line elements -->
            <div class="form-group form-group-lg"
                         ng-class="{'has-error': prescriptionForm.therapeuticLine.$invalid && vm.showMessages}" ng-init="vm.initTherapeuticLine()">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_THERAPEUTIC_LINE'| translate}}:<span class="asterick">*</span></label>
                <div ng-show="!vm.isTheraupeuticLineEdit">
                    <div class="col-sm-7 default-border-bottom">
                        <label class="control-label">{{vm.prescriptionItem.therapeuticLine.display}}</label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-lg" type="button" ng-click="vm.isTheraupeuticLineEdit = true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <!-- edit mode -->
                <div ng-show="vm.isTheraupeuticLineEdit">
                    <div class="col-sm-7">
                        <div ng-messages for="prescriptionForm.therapeuticLine.$error"
                                ng-messages-include="../poc-common/form-display/views/error-messages.html"
                                ng-show="vm.showMessages"></div>
                        <select name="therapeuticLine" class="form-control" ng-model="vm.prescriptionItem.therapeuticLine"
                                ng-options="line.display for line in vm.fieldModels.therapeuticLine.model.answers"
                                ng-required="vm.prescriptionItem.isArv"
                                ng-change="vm.doTherapeuticLineChanges(vm.prescriptionItem.therapeuticLine); vm.isTheraupeuticLineEdit = false; vm.isRegimenEdit = true">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning btn-lg" type="button" ng-click="vm.isTheraupeuticLineEdit = false">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Regimen elements -->
            <div class="form-group form-group-lg"
                         ng-class="{'has-error': prescriptionForm.regime.$invalid && vm.showMessages}" ng-init="vm.initRegimes()">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_REGIMEN'| translate}}:<span class="asterick">*</span></label>
                <div ng-show="!vm.isRegimenEdit">
                    <div class="col-sm-7 default-border-bottom">
                        <label class="control-label">{{vm.prescriptionItem.regime.display}}<span ng-if="!vm.prescriptionItem.regime">N/A</span></label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-lg" type="button" ng-click="vm.isRegimenEdit = true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <!-- edit mode -->
                <div ng-show="vm.isRegimenEdit">
                    <div class="col-sm-7">
                        <div ng-messages for="prescriptionForm.regime.$error"
                                ng-messages-include="../poc-common/form-display/views/error-messages.html"
                                ng-show="vm.showMessages"></div>
                        <select name="regime" class="form-control" ng-model="vm.prescriptionItem.regime"
                                ng-options="regime.display for regime in vm.regimes.answers"
                                ng-required="vm.prescriptionItem.isArv"
                                ng-change="vm.doRegimenChanges(vm.prescriptionItem.regime); vm.isRegimenEdit = false">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning btn-lg" type="button" ng-click="vm.isRegimenEdit = false" ng-disabled="vm.prescriptionItem.isRegimenCancelDisabled">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- ARV Plan elements -->
            <div class="form-group form-group-lg"
                         ng-class="{'has-error': prescriptionForm.artPlan.$invalid && vm.showMessages}" ng-init="vm.initArvPlans()">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_ARV_PLAN'| translate}}:</label>
                <div ng-show="!vm.isArvPlanEdit">
                    <div class="col-sm-7 default-border-bottom">
                        <label class="control-label"><span ng-if="vm.prescriptionItem.arvPlan">{{vm.prescriptionItem.arvPlan.display}}</span><span ng-if="!vm.prescriptionItem.arvPlan">N/A</span></label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-lg" type="button" ng-click="vm.isArvPlanEdit = true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <!-- edit mode -->
                <div ng-show="vm.isArvPlanEdit">
                    <div class="col-sm-7">
                        <div ng-messages for="prescriptionForm.artPlan.$error"
                                ng-messages-include="../poc-common/form-display/views/error-messages.html"
                                ng-show="vm.showMessages"></div>
                        <select name="artPlan" class="form-control" ng-model="vm.prescriptionItem.arvPlan"
                                ng-options="plan.display for plan in vm.fieldModels.artPlan.model.answers"
                                ng-change="vm.doPlanChanged(vm.prescriptionItem); vm.isArvPlanEdit = false">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning btn-lg" type="button" ng-click="vm.isArvPlanEdit = false">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- ARV Plan interrupting reason elements -->
            <div class="form-group form-group-lg"
                         ng-class="{'has-error': prescriptionForm.interruptedReason.$invalid && vm.showMessages}" ng-show="vm.prescriptionItem.isPlanInterrupted && vm.prescriptionItem.isArv">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_ARV_PLAN_INTERRUPDED_REASON'| translate}}:<span class="asterick">*</span></label>
                <div ng-show="!vm.isArvPlanInterruptedEdit">
                    <div class="col-sm-7 default-border-bottom">
                        <label class="control-label"><span ng-if="vm.prescriptionItem.interruptedReason">{{vm.prescriptionItem.interruptedReason.display}}</span><span ng-if="!vm.prescriptionItem.interruptedReason">N/A</span></label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-lg" type="button" ng-click="vm.isArvPlanInterruptedEdit = true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <!-- edit mode -->
                <div ng-show="vm.isArvPlanInterruptedEdit">
                    <div class="col-sm-7">
                        <div ng-messages for="prescriptionForm.interruptedReason.$error"
                                ng-messages-include="../poc-common/form-display/views/error-messages.html"
                                ng-show="vm.showMessages"></div>
                        <select name="interruptedReason" class="form-control" ng-model="vm.prescriptionItem.interruptedReason"
                                ng-options="reason.display for reason in vm.fieldModels.interruptedReason.model.answers" ng-required="vm.isPlanInterrupted"
                                ng-change="vm.isArvPlanInterruptedEdit = false">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning btn-lg" type="button" ng-click="vm.isArvPlanInterruptedEdit = false" ng-disabled="vm.prescriptionItem.isPlanInterrupted">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Regimen change reason elements -->
            <div class="form-group form-group-lg"
                         ng-class="{'has-error': prescriptionForm.changeReason.$invalid && vm.showMessages}" ng-show="vm.prescriptionItem.isRegimenChanged && vm.prescriptionItem.isArv">
                <label class="col-sm-3 control-label">{{'CLINIC_PRESCRIPTION_ARV_CHANGE_REASON_REASON'| translate}}:<span class="asterick">*</span></label>
                <div ng-show="!vm.isRegimenChangeEdit">
                    <div class="col-sm-7 default-border-bottom">
                        <label class="control-label"><span ng-if="vm.prescriptionItem.changeReason">{{vm.prescriptionItem.changeReason.display}}</span><span ng-if="!vm.prescriptionItem.changeReason">N/A</span></label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-lg" type="button" ng-click="vm.isRegimenChangeEdit = true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <!-- edit mode -->
                <div ng-show="vm.isRegimenChangeEdit">
                    <div class="col-sm-7">
                        <div ng-messages for="prescriptionForm.changeReason.$error"
                                ng-messages-include="../poc-common/form-display/views/error-messages.html"
                                ng-show="vm.showMessages"></div>
                        <select name="changeReason" class="form-control" ng-model="vm.prescriptionItem.changeReason"
                                ng-options="reason.display for reason in vm.fieldModels.changeReason.model.answers" ng-required="vm.prescriptionItem.isPlanChanged"
                                ng-change="vm.isRegimenChangeEdit = false">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning btn-lg" type="button" ng-click="vm.isRegimenChangeEdit = false" ng-disabled="vm.prescriptionItem.isRegimenChanged">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
