<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog"
     aria-labelledby="deletePatientModal" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deletePatientModalLabel">{{'DELETE_PATIENT' | translate}}</h4>
      </div>
      <form name="deletePatient"class="form-horizontal" novalidate>
        <div class="alert alert-danger alert-dismissible content-border-margin" role="alert"  ng-show="errorMessage">
          <strong>{{errorMessage | translate}}</strong>
        </div>
        <br />


        <div class="modal-body content-border-margin">

          <div class="form-group form-group-lg">
            <label for="isDead" class="col-sm-4 control-label">{{'PATIENT_INFO_DEAD' | translate}}:</label>
            <div class="col-sm-8">
              <checkbox largest
                        name="drugType"
                        ng-model="vm.patient.dead">
              </checkbox>
            </div>
          </div>


          <div class="form-group form-group-lg" ng-hide="vm.patient.dead">
            <label for="reasonDelete" class="col-sm-4 control-label"> {{'REASON_TO_DELETE' | translate }}: </label>
            <div class="col-sm-8">
              <input name="deleteReason"type="text" id="reasonDelete" class="form-control"
                     ng-model="vm.deleteReason" required >
            </div>
          </div>

          <div id="deceasedPatient" ng-show="vm.patient.dead">
            <div class="form-group form-group-lg">
              <label class="control-label col-sm-4">{{'PATIENT_INFO_DEATH_REASON' | translate}}:</label>
              <div class="col-sm-8">
                <select name="deathReason" id="death_reason" class="form-control" ng-model="vm.patient.causeOfDeath"
                        ng-options="concept.display for concept in vm.deathConcepts"
                        data-ng-change="vm.selectIsDead(vm.patient.causeOfDeath)"  required>
                  <option></option>
                </select>
              </div>
            </div>

            <div class="form-group form-group-lg">
              <label class="control-label col-sm-4">{{'PATIENT_INFO_DEATH_DATE' | translate}}:</label>

              <div class="col-sm-8">
                <div class="input-group">
                  <input class="form-control" type="text" name="deathDate" uib-datepicker-popup ng-focus="focused=true"
                         is-open="focused" ng-model="vm.patient.deathDate" datepicker-options="vm.deathDatepickerOptions" required>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">
            <span class="glyphicon glyphicon-minus-sign"></span>
            <span class="button-label">{{'CANCEL' | translate}}</span>
          </button>
          <button  ng-show="vm.patient.dead" type="submit"
                   ng-click="vm.deceasedPatient()"
                   class="btn btn-danger btn-lg" ng-disabled="deletePatient.deathReason.$invalid || deletePatient.deathDate.$invalid">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="button-label">{{'SAVE' | translate}}</span>
          </button>
          <button  ng-hide="vm.patient.dead" type="submit"
                   ng-click="vm.deletePatient()"
                   class="btn btn-primary btn-lg" ng-disabled="deletePatient.deleteReason.$invalid">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="button-label">{{'SAVE' | translate}}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('.modal').on('show.bs.modal', function(){
    $(this).find('form')[0].reset();
    $('.alert').hide();
  });
</script>
