<div ng-include src="'../../common/patient/header/views/header.html'"></div><!--patient header -->

<div class="row bg-info-border content-border border-rouded-bottom go-to-right"><!-- patient header controls -->
    <button id="add_patient" type="button" class="btn btn-warning btn-lg" ng-click="linkSearch()">
        <span class="glyphicon glyphicon-step-backward"></span>
    </button>
    <button ng-controller="MovePatientActionController" id="transfer_patient" type="button" class="btn btn-warning btn-lg" ng-click="movePatientTo()">
        <span class="glyphicon glyphicon-share"></span>
    </button>
    <button id="detail_patient" type="button"
            class="btn btn-success btn-lg" ng-click="linkPatientDetail()">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button id="edit_patient" type="button" class="btn btn-default btn-lg" ng-click="linkPatientEdit()">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button id="delete_patient" type="button" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-remove-sign"></span>
    </button>
</div><!-- patient header controls -->

<div ng-include src="'views/visit.html'"></div>
<div ng-include src="'views/patient-summary.html'"></div>
