<div class="panel panel-primary content-border-margin"><!-- address -->
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_DEATH' | translate}}</h3>
    </div>
    <div class="panel-body">
        <ng-include src="'../patient-details/views/patientDeathInformation.html'"></ng-include>
    </div>
</div><!-- address -->

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button type="button" class="btn btn-success btn-lg" ng-click="stepForward('confirm', aForm.$valid)">
        <span class="glyphicon glyphicon glyphicon glyphicon-ok-sign"></span>
    </button>
</div>

<!--script src="../../scripts/virtual-keyboard.js" type="text/javascript"></script-->
