<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_IDENTIFIERS' | translate}}</h3>
    </div>

    <div ng-include src="'../patient-details/views/patient-identifiers.html'"></div>
</div>
<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_DEMOGRAPHICS' | translate}}</h3>
    </div>

    <div ng-include src="'../patient-details/views/patient-demographics.html'"></div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_ADDRESS' | translate}}</h3>
    </div>

    <div ng-include src="'../patient-details/views/patient-addresses.html'"></div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_OTHERS' | translate}}</h3>
    </div>

    <div ng-include src="'../patient-details/views/patient-attributes.html'"></div>
</div>

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button type="button" class="btn btn-primary btn-lg" ng-click="save()">
        <span class="glyphicon glyphicon glyphicon glyphicon-floppy-disk"></span>
    </button>
</div>