<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Identifier</th>
            <th>Preferred</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="patientIdentifier in patient.identifiers">
            <td class="col-sm-4 control-label">{{patientIdentifier.identifierType.display}}</td>
            <td>{{patientIdentifier.identifier}}</td>
            <td>{{(patientIdentifier.preferred === true) ? "YES" : "NO"}}</td>
        </tr>
    </tbody>
</table>