<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Demographics</h3>
    </div>

    <div ng-include src="'views/patient-demographics.html'"></div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
    </div>

    <div ng-include src="'views/patient-addresses.html'"></div>
</div>

<div class="panel panel-primary content-border-margin">
    <div class="panel-heading">
        <h3 class="panel-title">Identifiers</h3>
    </div>

    <div ng-include src="'views/patient-identifiers.html'"></div>
</div>