<div class="panel panel-primary content-border-margin"><!-- demographics -->
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_GENDER' | translate}}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group form-group-lg"
             ng-class="{'has-error': aForm.patientGender.$invalid && showMessages}">
            <label class="col-sm-2 control-label"><b>{{'PATIENT_INFO_GENDER' | translate}}:<span class="asterick">*</span></b></label>
            <div ng-messages for="aForm.genderHidden.$error" 
                 ng-messages-include="../poc-common/form-display/views/error-messages.html"
                 ng-show="showMessages">
            </div>
            <div class="col-sm-10 inline-align">
                <img src="../../images/lady.png" width="48" height="48" alt="female">
                <input type="checkbox" name="patientGender" bs-switch switch-size="large" 
                       switch-off-text="{{'COMMON_MALE' | translate}}" switch-on-text="{{'COMMON_FEMALE' | translate}}" switch-on-color="primary" switch-off-color="primary" 
                       ng-model="patient.gender" ng-true-value="'F'" ng-false-value="'M'"
                       >
                <img src="../../images/man.png" width="48" height="48" alt="male">
                <input type="hidden" name="genderHidden" ng-model="patient.gender" required>
            </div>
        </div>
    </div>
</div><!-- demographics -->

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button type="button" class="btn btn-success btn-lg"
            ng-click="stepForward('age', aForm.$valid)">
        <span class="glyphicon glyphicon glyphicon-step-forward"></span>
    </button>
</div>