<div class="panel panel-primary content-border-margin"><!-- identifier -->
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_IDENTIFIERS' | translate}}</h3>
    </div>

    <div class="panel-body">
        <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{errorMessage | translate}}</strong>
        </div>
        <div class="form-group form-group-lg">
            <label for="patient_identifier_type" class="col-sm-2 control-label">{{'PATIENT_INFO_IDENTIFIER_TYPE_FULL' | translate}}:</label>
            <div class="col-sm-10">
                <select class="form-control" id="patient_identifier_type" ng-model="patient.patientIdentifierType" ng-change="selectIdentifierType()"
                        ng-options="it.name for it in patientIdentifierTypes">
                    <option></option>
                </select>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{'PATIENT_INFO_IDENTIFIER_TYPE' | translate}}</th>
                <th>{{'PATIENT_INFO_IDENTIFIER_IDENTIFIER' | translate}}</th>
                <th>{{'PATIENT_INFO_IDENTIFIER_PREFERRED' | translate}}</th>
              <th></th>
              <th> Mascara/Formato de Indentificador </th>
            </tr>
        </thead>
        <tbody ng-init="listRequiredIdentifiers()">
            <tr ng-repeat=" pi in patient.identifiers">
                <td class="col-sm-4 control-label">
                    <div ng-messages for="aForm.{{pi.fieldName}}.$error"
                         ng-messages-include="../poc-common/form-display/views/error-messages.html"
                         ng-show="showMessages">
                    </div>
                    {{pi.identifierType.display}}
                </td>
                <td>
                    <div ng-class="{'has-error': aForm.{{pi.fieldName}}.$invalid && showMessages}">
                        <input type="text" class="form-control input-lg keyboard-in" name="{{pi.fieldName}}"
                               placeholder="{{pi.identifierType.format}}" ng-model="pi.identifier" ng-pattern="pi.identifierType.format"
                               record-availability-validator="/ws/rest/v1/patient"
                               required>

                    </div>
                </td>
                <td>
                    <input id="{{pi.fieldName}}_Rdo" class="radio-lx" type="radio" name="preferedIdRGroup"
                           ng-value="{{pi.preferred}}" ng-click="setPreferredId(pi)">
                    <label for="{{pi.fieldName}}_Rdo"></label>
                </td>
                <td>
                    <button ng-show="!pi.identifierType.required" type="button" class="btn btn-danger btn-lg" ng-click="removeIdentifier(pi)">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
                <td><label class="alert ">{{pi.identifierType.format}} </label></td>

            </tr>
        </tbody>
    </table>
</div><!-- identifier -->

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button type="button" class="btn btn-success btn-lg"
            ng-click="stepForward('confirm', aForm.$valid)">
        <span class="glyphicon glyphicon glyphicon-step-forward"></span>
    </button>
</div>
