<ul class="list-group content-border-margin-regular">
    <li class="list-group-item">
        <b>Names: </b> {{patient.givenName}} {{patient.familyName}}
    </li>
    <li class="list-group-item">
        <b>Gender: </b> {{patient.gender}}
    </li>
    <li class="list-group-item">
        <b>Birthdate: </b> {{patient.birthdate}}
    </li>
    <li class="list-group-item">
        <b>Age: </b> {{patient.age}}
    </li>
    <li class="list-group-item">
        <b>Dead: </b> {{patient.dead}}
    </li>
</ul>