<div class="panel panel-primary content-border-margin"><!-- demographics -->
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_AGE' | translate}}/{{'PATIENT_INFO_BIRTHDATE' | translate}}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group form-group-lg"
             ng-class="{'has-error': aForm.patientBirthdate.$invalid && showMessages}">
            <label class="col-sm-2 control-label"><b>{{'PATIENT_INFO_BIRTHDATE' | translate}}:<span class="asterick">*</span></b></label>
            <div class="col-sm-6">
                <div ng-messages for="aForm.patientBirthdate.$error" 
                     ng-messages-include="../poc-common/form-display/views/error-messages.html"
                     ng-show="showMessages">
                </div>
                <input type="text" name="patientBirthdate" class="form-control" date-time format="yyyy-MM-dd" ng-model="patient.birthdate" 
                           min-view="date" auto-close="true" date-chenge="{{patient.calculateAge()}}" max-date="{{today}}"
                           required ng-blur="patient.calculateBirthdateEstimated('birthdate')">
            </div>
        </div>
        <div class="form-group form-group-lg"
             ng-class="{'has-error': aForm.patientAge.$invalid && showMessages}">
            <label class="col-sm-2 control-label"><b>{{'PATIENT_INFO_AGE' | translate}}:<span class="asterick">*</span></b></label>
            <div class="col-sm-2">
                <div ng-messages for="aForm.patientAge.$error" 
                     ng-messages-include="../poc-common/form-display/views/error-messages.html"
                     ng-show="showMessages">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="age-addon">{{'PATIENT_INFO_YEARS' | translate}}</span>
                  <input id="patientYears" name="patientYears" type="number" 
                       ng-min="0" ng-max="120" class="form-control" ng-model="patient.age.years"
                       ng-change="patient.calculateBirthDate()"
                       required ng-blur="patient.calculateBirthdateEstimated('age')" aria-describedby="age-addon">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                  <span class="input-group-addon" id="months-addon">{{'PATIENT_INFO_MONTHS' | translate}}</span>
                  <input id="patientMonths" name="patientMonths" type="number" 
                       ng-min="0" class="form-control" ng-model="patient.age.months"
                       ng-change="patient.calculateBirthDate()"
                       required ng-blur="patient.calculateBirthdateEstimated('age')" aria-describedby="months-addon">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                  <span class="input-group-addon" id="days-addon">{{'PATIENT_INFO_DAYS' | translate}}</span>
                  <input id="patientDays" name="patientDays" type="number" 
                       ng-min="0" class="form-control" ng-model="patient.age.days"
                       ng-change="patient.calculateBirthDate()"
                       required ng-blur="patient.calculateBirthdateEstimated('age')" aria-describedby="days-addon">
                </div>
            </div>
        </div>
        <div class="form-group form-group-lg" ng-show="aForm.patientBirthdate.$valid">
            <label for="birthdateEstimated" class="col-sm-2 control-label"><b>{{'PATIENT_INFO_ESTIMATED' | translate}}:</b></label>
            <label class="col-sm-1 control-label go-left">
                {{(patient.birthdateEstimated) ? 'COMMON_YES' : 'COMMON_NO' | translate}}
            </label>
        </div>
    </div>
</div>

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button type="button" class="btn btn-success btn-lg"
            ng-click="stepForward('address', aForm.$valid)">
        <span class="glyphicon glyphicon glyphicon-step-forward"></span>
    </button>
</div>

<!--script src="../../scripts/virtual-keyboard.js" type="text/javascript"></script-->