<div class="row bg-info-border bg-info content-border border-rouded-top"><!--patient header -->
    <div><!-- patient name and identifier -->
        <span class="col-md-6 header-text-lg">
            <b>{{patient.givenName + " " + patient.familyName}}</b>
        </span>
        <span class="col-md-6 pull-right header-text-lg go-to-right">
            NID (SERVICO TARV): <b>{{patient.nid}}</b>
        </span>
    </div><!-- patient name and identifier -->
    <div class="col-md-12"><!-- patient gender, age and phone number -->
        <span>
            <img src="../../images/{{patient.gender === 'F' ? 'female.png' : 'male.png'}}" class="img-responsive inline-align" width="24" height="24" alt="male">
        </span>
        <span>58 anos</span>
        <span>({{patient.birthdate}})</span>
        <span>Phone number: 840576432</span>
    </div>
</div><!--patient header -->