
<div class="form-group form-group-lg">
    <label for="death_date" class="col-sm-2 control-label">{{'PATIENT_INFO_DEATH_DATE' | translate}}:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" date-time id="death_date" ng-model="patient.deathDate" 
               ng-change="selectIsDead()" min-view="date" auto-close="true">
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
</div>
<div class="form-group form-group-lg" ng-init="getDeathConcepts()">
    <label for="death_reason" class="col-sm-2 control-label">{{'PATIENT_INFO_DEATH_REASON' | translate}}:
        <span class="asterick" ng-if="patient.dead">*</span>
    </label>
    <div class="col-sm-10">
        <select id="death_reason" class="form-control" ng-model="patient.causeOfDeath"
                ng-options="concept.display for concept in deathConcepts track by concept.uuid"
                ng-change="selectIsDead()" ng-required="patient.dead">
            <option></option>
        </select>
    </div>
</div>
<div class="form-group form-group-lg">
    <label for="isDead" class="col-sm-2 control-label">{{'PATIENT_INFO_DEAD' | translate}}:</label>
    <div class="col-sm-10">
        <input type="checkbox" id="isDead" bs-switch switch-active="true" switch-size="large" 
               switch-off-text="{{'COMMON_NO' | translate}}" switch-on-text="{{'COMMON_YES' | translate}}" 
               ng-model="patient.dead" ng-disabled="disableIsDead()">
    </div>
</div>