<table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Identifier</th>
                <th>Prefered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-4 control-label">NID (Servico Tarv)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="col-sm-4 control-label">BI (Bilhete de Identidade)</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>