<div class="row bg-info-border bg-info content-border border-rouded-top"><!--patient header -->
    <div class="header-text-lg"><!-- patient name and identifier -->
        <b>{{'PATIENT_INFO_NEW' | translate}}</b>
    </div><!-- patient name and identifier -->
</div><!--patient header -->

<form name="aForm" class="form-horizontal">
<div class="row bg-info-border content-border border-rouded">
    <!-- the links to our nested states using relative paths -->
    <!-- add the active class if the state matches our ui-sref -->
    <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".identifier"><span class="label label-primary">1</span> {{'PATIENT_INFO_IDENTIFIERS' | translate}}</a>
        <a ui-sref-active="active" ui-sref=".name"><span class="label label-primary">2</span> {{'PATIENT_INFO_NAME' | translate}}</a>
        <a ui-sref-active="active" ui-sref=".gender"><span class="label label-primary">3</span> {{'PATIENT_INFO_GENDER' | translate}}</a>
        <a ui-sref-active="active" ui-sref=".age"><span class="label label-primary">4</span> {{'PATIENT_INFO_AGE' | translate}}</a>
        <a ui-sref-active="active" ui-sref=".address"><span class="label label-primary">5</span> {{'PATIENT_INFO_ADDRESS' | translate}}</a>
        <a ui-sref-active="active" ui-sref=".other"><span class="label label-primary">6</span> {{'PATIENT_INFO_OTHERS' | translate}}</a>
    </div>
</div>

    <div ui-view ng-controller="PatientCommonController"></div>

    <div class="row bg-info-border content-border border-rouded-bottom go-to-left" ng-controller="PatientController"><!-- visit header controls -->
    <button type="button" class="btn btn-warning btn-lg" ng-click="linkSearch()">
        <span class="glyphicon glyphicon-minus-sign"></span>
    </button>
</div><!-- visit header controls -->
</form>