<div class="panel panel-primary content-border-margin"><!-- identifier -->
    <div class="panel-heading">
        <h3 class="panel-title">Identifiers</h3>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-group-lg">
                <label for="patient_identifier_type" class="col-sm-2 control-label">Identifier Type:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="patient_identifier_type">
                        <option></option>
                        <option>NID (Servico TARV)</option>
                        <option>BI (Bilhete de Identidade)</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Identifier</th>
                <th>Prefered</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-4 control-label">NID (Servico Tarv)</td>
                <td><input type="text" class="form-control input-lg keyboard-in" id="nid"></td>
                <td>
                    <input type="radio" name="preferedIdRGroup" id="1" value="M">
                </td>
                <td>
                    <button id="patient_identifier_remove_1" type="button" value="Remove Identifier" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="col-sm-4 control-label">BI (Bilhete de Identidade)</td>
                <td><input type="text" class="form-control input-lg keyboard-in" id="bi"></td>
                <td>
                    <input type="radio" name="preferedIdRGroup" id="2" value="M">
                </td>
                <td>
                    <button id="patient_identifier_remove_2" type="button" value="Remove Identifier" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- identifier -->
<div class="row bg-info-border content-border border-rouded"><!--dead -->
    <div class="checkbox input-lg">
        <label>
            <input id="patient-dead" type="checkbox" class="checkbox"> Patient is dead
        </label>
    </div>
</div><!--dead -->

<div class="row bg-info-border content-border border-rouded">
    <button type="button" class="btn btn-success btn-lg" ui-sref="newpatient.confirm">
        <span class="glyphicon glyphicon glyphicon glyphicon-ok-sign"></span>
    </button>
</div>

<script src="../../scripts/virtual-keyboard.js" type="text/javascript"></script>