<div class="panel panel-primary content-border-margin"><!-- demographics -->
    <div class="panel-heading">
        <h3 class="panel-title">{{'PATIENT_INFO_NAME' | translate}}</h3>
    </div>
    <div class="panel-body" ng-controller="SimilarPatientsController as similar">
        <div class="form-group form-group-lg"
             ng-class="{'has-error': aForm.givenName.$invalid && patientCommon.showMessages}">
            <label for="givenName" class="col-sm-2 control-label">{{'PATIENT_INFO_NAME' | translate}}:<span class="asterick">*</span></label>
            <div class="col-sm-10">
                <div ng-messages for="aForm.givenName.$error"
                     ng-show="patientCommon.showMessages">
                  <div ng-messages-include="../poc-common/form-display/views/error-messages.html"></div>
                </div>
                <input type="text" class="form-control keyboard-in" id="givenName" name="givenName"
                       ng-model="patientCommon.patient.givenName"
                       placeholder="{{'PATIENT_INFO_NAME_PLACEHOLDER' | translate}}" title="Enter patient's first name."
                       my-autocomplete source="patientCommon.getAutoCompleteList" response-map="patientCommon.getDataResults"
                       data-item-type="personName" ng-pattern="/^[a-zÀ-ú ,.'-]+$/i"
                       required >
            </div>
        </div>
        <div class="form-group form-group-lg"
             ng-class="{'has-error': aForm.patientSurname.$invalid && patientCommon.showMessages}">
          <label for="patientSurname" class="col-sm-2 control-label">{{'PATIENT_INFO_SURNAME' | translate}}:<span class="asterick">*</span></label>
          <div class="col-sm-10">
            <div ng-messages for="aForm.patientSurname.$error"
                 ng-show="patientCommon.showMessages">
              <div ng-messages-include="../poc-common/form-display/views/error-messages.html"></div>
            </div>
            <input type="text" class="form-control keyboard-in" id="patientSurname" name="patientSurname"
                   ng-model="patientCommon.patient.familyName"
                   placeholder="{{'PATIENT_INFO_SURNAME_PLACEHOLDER' | translate}}" title="Enter patient's last name."
                   ng-pattern="/^[a-zÀ-ú ,.'-]+$/i" required>
          </div>
        </div>
        <div class="form-group form-group-lg"
        	ng-class="{'has-error': aForm.patientMiddleName.$invalid && patientCommon.showMessages}">
            <div ng-repeat="attribute in patientCommon.filterPersonAttributesForCurrStep('name')">
                <ng-include src="'../patient-details/views/patientAttributeInformation.html'"></ng-include>
            </div>
        </div>

      <div id="ng-similarpatients">
        <div ng-show="similar.similarPatients.length"><h2>{{ 'SIMILAR_PATIENTS' | translate }}</h2></div>
        <div ng-show="similar.similarPatients.length">

          <table class="table table-striped">
            <thead>
            <tr>
              <th>{{'SEARCH_PATIENT_NID' | translate}}</th>
              <th>{{'SEARCH_PATIENT_FIRSTNAME' | translate}}</th>
              <th>{{'SEARCH_PATIENT_LASTNAME' | translate}}</th>
              <th>{{'PATIENT_INFO_OTHER_NAMES' | translate}}</th>
              <th>{{'SEARCH_PATIENT_GENDER' | translate}}</th>
              <th>{{'SEARCH_PATIENT_AGE' | translate}}</th>
              <th>{{'SEARCH_PATIENT_BIRTHDATE' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in similar.similarPatients" ng-click="similar.loadPatientToDashboard(patientCommon.patient)">
              <td>{{patient.identifier}}</td>
              <td>{{patient.givenName}}</td>
              <td>{{patient.familyName}}</td>
              <td>{{patient.middleName}}</td>
              <td>{{patient.gender}}</td>
              <td>{{patient.age.years}}</td>
              <td>{{patient.birthdate | date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div><!-- demographics -->

<div class="row bg-info-border content-border border-rouded go-to-right">
    <button id="next-step" type="button" class="btn btn-success btn-lg"
            ng-click="patientCommon.stepForward('gender', aForm.$valid)">
        <span class="glyphicon glyphicon glyphicon-step-forward"></span>
        <span class="button-label">{{'NEXT_STEP' | translate}}</span>
    </button>
</div>

<!--script src="../../scripts/virtual-keyboard.js" type="text/javascript"></script-->
