<div class="row bg-info-border content-border border-rouded">
    <ul id="dashTabs" class="nav nav-tabs">
        <li role="presentation" data-toggle="tab" class="active"><a ui-sref="dashboard.program">Program Enrollment</a></li>
        <li role="presentation" data-toggle="tab" class="active"><a ui-sref="dashboard.visits">Visit History</a></li>
        <li role="presentation" data-toggle="tab" class="active"><a ui-sref="dashboard.services">Services</a></li>
        <li role="presentation" data-toggle="tab" class="active"><a ui-sref="dashboard.alerts">Alerts</a></li>
    </ul>
    <div ui-view=""></div>
</div>