<div class="modal fade" id="editProgramModal" tabindex="-1" role="dialog" aria-labelledby="editProgramModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editProgramModalLabel">Edit Program</h4>
            </div>
            <form class="form-horizontal" ng-submit="updateProgram()">
                <div class="modal-body content-border-margin">
                    <div class="form-group form-group-lg">
                        <label class="control-label col-sm-4">Programa:</label>
                        <div class="col-sm-8">
                            <label class="control-label col-sm-4">{{editProgram.name}}</label>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="control-label col-sm-4">Admission Date:</label>
                        <div id="program_edit_admission_datetime_picker" class="input-group date col-sm-8">
                            <input type="text" class="form-control" id="admission_date" ng-model="editProgram.admissionDate"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script>
                            $(function () {
                                $('#program_edit_admission_datetime_picker').datetimepicker();
                            });
                        </script>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="control-label col-sm-4">Admission Date:</label>
                        <div id="program_edit_end_datetime_picker" class="input-group date col-sm-8">
                            <input type="text" class="form-control" id="end_date" ng-model="editProgram.endDate"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script>
                            $(function () {
                                $('#program_edit_end_datetime_picker').datetimepicker();
                            });
                        </script>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="program_location" class="control-label col-sm-4">Location:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="program_location" ng-model="editProgram.location">
                                <option></option>
                                <option value="Location A">Location A</option>
                                <option value="Location B">Location B</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </button>
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <button type="submit" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.modal').on('show.bs.modal', function(){
    $(this).find('form')[0].reset();
});
</script>