<div class="modal fade" id="visitProviderModal" tabindex="-1" role="dialog" aria-labelledby="visitProviderModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="overflow-y: scroll; max-height:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="visitProviderModalLabel">{{'COMMON_ASSIGN_PROVIDER' | translate}}</h4>
            </div>
            <form></form>
            <table class="table table-striped content-border">
                <thead>
                    <tr>
                        <th>{{'SEARCH_PATIENT_NID' | translate}}</th>
                        <th>{{'SEARCH_PATIENT_FIRSTNAME' | translate}}</th>
                        <th>{{'SEARCH_PATIENT_LASTNAME' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>code</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>

        </div>
    </div>
</div>