<ul class="list-group content-border-margin-regular">
    <li class="list-group-item">
        <b>{{'PATIENT_INFO_DEAD' | translate}}: </b> {{(vm.patient.dead === true) ? 'COMMON_YES' : 'COMMON_NO' | translate}}
    </li>
    <li class="list-group-item">
        <b>{{'PATIENT_INFO_DEATH_DATE' | translate}}: </b> {{vm.patient.deathDate | date:"MM/dd/yyyy"}}
    </li>
    <li class="list-group-item">
        <b>{{'PATIENT_INFO_DEATH_REASON' | translate}}: </b> {{vm.patient.causeOfDeath.display}}
    </li>
</ul>
