<div class="col-sm-2 control-label">
    <label for="{{attribute.name}}">{{attribute.name}}<span class="asterick" ng-show="{{attribute.required}}">*</span></label>
</div>
<div class="col-sm-10" data-ng-switch on="attribute.format" ng-class="{'has-error': aForm[$parent.attribute.name].$invalid && patientCommon.showMessages}">
  <div ng-messages for="aForm[$parent.attribute.name].$error"
       ng-show="patientCommon.showMessages">
    <div ng-messages-include="../poc-common/form-display/views/error-messages.html"></div>
  </div>
    <div data-ng-switch-when="java.lang.String">
        <span data-ng-switch="isAutoComplete(attribute.name)">
            <input class="form-control keyboard-in" data-ng-switch-when="true" name="{{$parent.attribute.name}}"
                   type="text" id="{{$parent.attribute.name}}" ng-maxlength="50"
                   ng-model="$parent.patient[$parent.attribute.name]" data-item-type="personAttribute"
                   my-autocomplete source="getAutoCompleteList" response-map="getDataResults" ng-disabled="isReadOnly($parent.attribute.name)" ng-required="{{attribute.required}}">

            <input class="form-control keyboard-in" data-ng-switch-default name="{{$parent.attribute.name}}"
                   type="text" pattern-validate id="{{attribute.name}}" ng-maxlength="50"
                   ng-model="patient[attribute.name]" data-item-type="personAttribute" ng-disabled="isReadOnly(attribute.name)" ng-required="{{attribute.required}}">
        </span>
    </div>
    <div data-ng-switch-when="org.openmrs.Concept">
        <select class="form-control" id="{{attribute.name}}" ng-model="patient[attribute.name]" name="{{$parent.attribute.name}}"
                ng-options="a.conceptId as a.description for a in attribute.answers" ng-disabled="isReadOnly(attribute.name)" ng-required="{{attribute.required}}">
            <option value=""></option>
        </select>
    </div>
    <div class="left" data-ng-switch-when="java.lang.Integer">
        <input class="form-control" id="{{attribute.name}}" type="number" pattern-validate name="{{$parent.attribute.name}}"
               ng-model="patient[attribute.name]" data-item-type="personAttribute" ng-disabled="isReadOnly(attribute.name)" ng-required="{{attribute.required}}"/>
    </div>
    <div data-ng-switch-when="java.lang.Float">
        <input class="form-control" type="number" pattern-validate step="any" id="{{attribute.name}}" name="{{$parent.attribute.name}}"
               ng-model="patient[attribute.name]" data-item-type="personAttribute" ng-disabled="isReadOnly(attribute.name)" ng-required="{{attribute.required}}"/>
    </div>
    <div data-ng-switch-when="java.lang.Boolean">
      <input class="form-control" id="{{attribute.name}}" type="checkbox" ng-model="patient[attribute.name]"
             name="{{$parent.attribute.name}}"
             ng-disabled="isReadOnly(attribute.name)" ng-required="{{attribute.required}}"/>
    </div>
    <div data-ng-switch-when="org.openmrs.util.AttributableDate">
      <input class="form-control" id="{{attribute.name}}" type="text" uib-datepicker-popup
             ng-model="patient[attribute.name]" ng-focus="focused=true" is-open="focused"
             name="{{$parent.attribute.name}}"
             datepicker-options="patientCommon.birthDatepickerOptions" ng-disabled="isReadOnly(attribute.name)"
             ng-required="{{attribute.required}}"/>
    </div>
</div>
