<link href="../styles/patient-arv-pickup-history-report.css" rel="stylesheet" media="print">
<!--TODO: verify how it works in production-->
<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  media="print"/>

<div class="arv-pickup container-fluid">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="header">
        <img class="emblem" src="../../images/emblem-md.png" />
        <h1> Ficha Individual de Levantamento de ARVs (FILA)</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="patient">
        <div class="row">
          <div class="col-xs-12">
            <b>{{'PATIENT_INFO_IDENTIFIER_IDENTIFIER' | translate}}({{patient.identifierType}})</b>
            <p>{{patient.identifier}}</p>
            <b>{{'PATIENT_INFO_NAMES' | translate}}</b>
            <p>{{patient.fullName}}</p>
            <b>{{'PATIENT_INFO_OTHERS' | translate}}</b>
            <p>{{patient['Numero de Telefone 1']}} / {{patient['Numero de Telefone 2']}}</p>
            <b>{{'PATIENT_INFO_ADDRESS' | translate}}</b>
            <p>
              {{'COMMON_AVENUE' | translate}}/{{'COMMON_STREET' | translate}}/{{'COMMON_HOUSE' | translate}}:
              {{patient.address.display}} <br />
              {{'COMMON_NEIGHBORHOOD' | translate }} : {{patient.address.address5 }}
              {{'COMMON_CELL' | translate}}/{{'COMMON_BLOCK' | translate}}: {{patient.address.address3}} <br />
              {{'COMMON_DISTRICT' | translate}}: {{patient.address.countyDistrict}} <br />
              {{'COMMON_PROVINCE' | translate}}: {{patient.address.stateProvince}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Receitas</h2>
      <div class="calendar">
        <table class="table table-bordered">
          <tbody>
          <tr ng-repeat="row in calendar">
            <!--Month names-->
            <td ng-if="$index === 0" colspan="2"></td>
            <!--Week header-->
            <td ng-if="$index === 1" rowspan="4">
              <span class="week-header">Semana</span>
            </td>
            <!--Week number-->
            <td ng-if="$index >= 1">
              {{$index}}
            </td>
            <!--Expiration dates-->
            <td ng-repeat="x in row track by $index">
              {{x}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Levantamentos</h2>
      <div class="pickups">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>{{'PHARMACY_PICKUP_DATE' | translate}}</th>
              <th>{{'PHARMACY_REGIMEN'     | translate}}</th>
              <th>{{'PHARMACY_QUANTITY_SHORT' | translate}}</th>
              <th>{{'PHARMACY_POSOLOGY'    | translate}}</th>
              <th>{{'PHARMACY_NEXT_PICKUP' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in patient.pickups">
              <td>{{p.encounterDatetime | date:"MMM d, y"}}</td>
              <td>{{p.regimen}}</td>
              <td>{{p.quantity}}</td>
              <td>{{p.posology}}</td>
              <td>{{p.nextPickup  | date:"MMM d, y"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
