<ul class="list-group content-border-margin-regular">
    <li class="list-group-item">
        <b>{{'PATIENT_INFO_DEAD' | translate}}: </b> {{(patientCommon.patient.dead === true) ? 'COMMON_YES' : 'COMMON_NO' | translate}}
    </li>
    <li class="list-group-item">
        <b>{{'PATIENT_INFO_DEATH_DATE' | translate}}: </b> {{patientCommon.patient.deathDate | date}}
    </li>
    <li class="list-group-item">
        <b>{{'PATIENT_INFO_DEATH_REASON' | translate}}: </b> {{patientCommon.patient.causeOfDeath.display}}
    </li>
</ul>
